<!DOCTYPE html>
<html>
<head>
	<title>HolidayWeGo</title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/css/bundle.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" hostname="http://localhost:20900/api/" src="/js/mangoApiLite.js"></script>
</head>
<body>
	<header>
		<div class="headerWrapper">
			<div class="container pcHeader">
				<div class="flexBlock">
					<div class="left">
						<img src="/img/logo.png">
						<form>
							<input type="text" name="">
							<button><i class="icon-search"></i></button>
						</form>
					</div>
					<div class="right">
						<a href="tel:31670021888">
							<i class="icon-telephone"></i>
							<div>
								<span>Speak to a specialist</span>
								<h3>+ 61 3 7002 1888</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="mobileHeader">
				<span>
					<img src="/img/logo.png">
				</span>
				<span><i class="icon-search"></i></span>
				<span><i class="icon-telephone"></i></span>
				<span mobile-btn><i class="icon-navicon-round"></i></span>
			</div>
			<div class="menuBlock" mobile-block>
				<div class="container">
					<ul class="menuUl">
						<li><a href="#">DESTINATIONS</a></li>
						<li><a href="#">CRUISES</a></li>
						<li><a href="#">RAIL</a></li>
						<li><a href="#">HOLIDAY PACKAGES</a></li>
						<li><a href="#">SEPCIAL OFFERS</a></li>
						<li><a href="#">FIND AN AGENT</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="/portal/login.html">AGENT PORTAL</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper" id="app" v-cloak>
		<div class="bookingPage">
			<div class="container">
				<div class="grid">
					<div class="stepBlock card">
						<article>
							<div class="active">
								<i class="icon-date"></i>
								<span>Dates</span>
							</div>
							<div class="active">
								<i class="icon-user"></i>
								<span>Passenger Details</span>
							</div>
							<div>
								<i class="icon-plane"></i>
								<span>Flight Details</span>
							</div>
						</article>
					</div>
					<booking-description v-bind:info="bookStorage"></booking-description>
					<div class="mainBlock card">
						<h3>Tell us about your passengers. Fields with a <i class="red">*</i> are compulsory.</h3>
						<div class="passengerDetail">
							<ul v-for="(p,index) of passengers">
								<li>
									<h3>Passenger {{(index+1)}}</h3><i class="icon-pager-right"></i>
								</li>
								<li>
									<div class="bookInputBlock">
										<p>Title<i class="red">*</i></p>
										<div class="inputGroup select">
											<select v-model="p.Title">
												<option value="1">Mr</option>
												<option value="2">Miss</option>
											</select>
										</div>
									</div>
									<div class="bookInputBlock">
										<p>First Name<i class="red">*</i></p>
										<input-float-result
											v-on:change="goGetSearchCustomer(p,arguments[0],'FirstName')"
											v-on:select="useSearchResult(p,arguments[0])"
											v-bind:value="p.FirstName"
											v-bind:result="p.render.customerSearchResult"></input-float-result>
									</div>
									<div class="bookInputBlock">
										<p>Last Name<i class="red">*</i></p>
										<input-float-result
											v-on:select="useSearchResult(p,arguments[0])"
											v-on:change="goGetSearchCustomer(p,arguments[0],'LastName')"
											v-bind:value="p.LastName"
											v-bind:result="p.render.customerSearchResult"></input-float-result>
									</div>
									<div class="bookInputBlock">
										<p>Email</p>
										<div class="inputGroup">
											<input type="email" name="" v-model="p.Email">
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Gender<i class="red">*</i></p>
										<div class="inputGroup select">
											<select v-model="p.Gender">
												<option value="1">Male</option>
												<option value="2">Female</option>
											</select>
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Date of Birth<i class="red">*</i></p>
										<div class="inputGroup birth">
											<input type="number" name="" placeholder="Day" v-model="p.render.birth.day">
											<input type="number" name="" placeholder="Month" v-model="p.render.birth.month">
											<input type="number" name="" placeholder="Year" v-model="p.render.birth.year">
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Passenger Special Request</p>
										<div class="inputGroup">
											<textarea v-model="p.SpecialRequest"></textarea>
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Country of Passport</p>
										<div class="inputGroup">
											<input type="text" name="" v-model="p.PassportCountry">
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Passport Number</p>
										<div class="inputGroup">
											<input type="text" name="" v-model="p.PassportNumber">
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Passport Expiry</p>
										<div class="inputGroup birth">
											<input type="number" name="" placeholder="Day" v-model="p.render.passport.day">
											<input type="number" name="" placeholder="Month" v-model="p.render.passport.month">
											<input type="number" name="" placeholder="Year" v-model="p.render.passport.year">
										</div>
									</div>
									<div class="bookInputBlock">
										<p>Accommodation Type<i class="red">*</i></p>
										<div class="inputGroup select">
											<select v-model="p.render.RoomType" v-on:change="changeRoomType(index)">
												<option v-if="bookStorage.render.DoubleRoomPrice>0" value="shared">Shared Room</option>
												<option v-if="bookStorage.render.SingleRoomPrice>0" value="single">Single Room</option>
												<option v-if="bookStorage.render.DoubleRoomPrice>0" value="double">Double Room</option>
												<option v-if="bookStorage.render.TwinRoomPrice>0" value="twin">Twin Room</option>
												<option v-if="bookStorage.render.TripleRoomPrice>0" value="triple">Triple Room</option>
												<option v-if="p.render.RoomType=='sp_double'" value="sp_double">Double Room (customize)</option>
												<option v-if="p.render.RoomType=='sp_twin'" value="sp_twin">Twin Room (customize)</option>
												<option v-if="p.render.RoomType=='sp_triple'" value="sp_triple">Triple Room (customize)</option>
											</select>
										</div>
									</div>
									<div class="bookInputBlock ChooseRoom" v-if="p.render.RoomType&&p.render.RoomType!='1'">
										<p>Choose Room</p>
										<div class="clearfix" v-if="p.render.RoomType=='double'||p.render.RoomType=='sp_double'">
											<label
											v-bind:class="((p.render.RoomType=='double'&&p.render.RoomIndex==i)?'selected':'') +
												((roomList.double[i].length>=2)?' fulled':'')"
											v-for="(r,i) of roomList.double"
											v-on:click="switchRoom(index,i,2,'double')">Double Room {{(i+1)}}</label>
											<label
											v-bind:class="((p.render.RoomType=='sp_double'&&p.render.RoomIndex==i)?'selected':'') +
												((roomList.sp_double[i].length>=2)?' fulled':'')"
											v-for="(r,i) of roomList.sp_double"
											v-on:click="switchRoom(index,i,2,'sp_double')">Double Room{{(i+1)}} (customize)</label>
											<i class="icon-android-add" v-if="p.render.RoomType=='double'" v-on:click="addToSpecialRoom(index,'sp_double')"></i>
										</div>
										<div class="clearfix" v-if="p.render.RoomType=='triple'||p.render.RoomType=='sp_triple'">
											<label
											v-bind:class="((p.render.RoomIndex==i)?'selected':'') +
												((roomList.triple[i].length>=3)?' fulled':'')"
											v-for="(r,i) of roomList.triple"
											v-on:click="switchRoom(index,i,3)">Triple Room {{(i+1)}}</label>
											<i class="icon-android-add" v-on:click="addToSpecialRoom(index,'sp_triple')"></i>
										</div>
									</div>
								</li>
							</ul>
							<div class="addBlock">
								<span class="add" v-on:click="addPassenger"><i class="icon-android-add"></i>Add Passenger</span>
							</div>
						</div>
						<div class="btnBlock">
							<span class="btn green" v-on:click="submit">Next</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="flexBlock">
				<article class="logo">
					<img src="/img/logo.png">
				</article>
				<article class="contact">
					<p>
						Australia’s premier travel wholesale provider. <br>
						<i class="icon-mail"></i> res@holidaywego.com.au <br>
						<i class="icon-telephone"></i> +61 3 7002 1888
					</p>
					<div>
						<a href="#" class="btn border">Request a brochure</a>
					</div>
				</article>
				<article class="social">
					<div>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
					</div>
					<p>© Holiday We Go 2009 - 2018</p>
				</article>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		vueFactory.bookingDescript();
		vueFactory.InputFloatResult();
		var bookStorage = mangoFunction.bookStorage().get();
		if(!bookStorage||!bookStorage.PackageId){
			alert('PackageId not found !');
			history.back();
		}

		bookStorage.render=bookStorage.render||{};
		bookStorage.render.bookingPassengers=bookStorage.render.bookingPassengers||[];

		var loadingComponent = mangoFunction.loadingComponent();
		const passengersTemplate = {
									Id:null,
									FirstName:null,
									LastName:null,
									Birthday:null,
									Title:1,
									Email:null,
									Gender:1,
									SpecialRequest:null,
									PassportCountry:null,
									PassportNumber:null,
									PassportExpiry:null,
									render:{
										RoomType:'single',
										RoomIndex:0,
										birth:{
											day:null,
											month:null,
											year:null
										},
										passport:{
											day:null,
											month:null,
											year:null
										},
										customerSearchResult:[],
										customerSearchRawData:[],
									}}
		new Vue({
			el:"#app",
			data(){
				return{
					bookStorage:bookStorage,
					passengers:[],
					roomList:{
						shared:[],
						single:[],
						double:[],
						triple:[],
						sp_double:[],
						sp_triple:[],
					},
					status:{
						isLoading:false
					}
				}
			},
			mounted(){
				this.addPassenger();
			},
			methods:{
				addPassenger(){
					this.passengers.push(JSON.parse(JSON.stringify(passengersTemplate)));
					this.roomList.single.push([(this.passengers.length-1)]);
					this.roomCalc();
				},
				changeRoomType(pIndex){
					this.kickFromRoom(pIndex);/*先把人從房間中移出*/
					let pType = this.passengers[pIndex].render.RoomType;
					switch(pType){
						case 'single':
							this.roomList.single.push([pIndex]);
							this.markPassengerToRoom(pIndex,0);
							break;
						case 'shared':
							this.roomList.shared.push([pIndex]);
							this.markPassengerToRoom(pIndex,0);
							break;
						case 'double':
							this.stackToRoom('double',2,pIndex); break;
						case 'twin':
							this.stackToRoom('twin',2,pIndex); break;
						case 'triple':
							this.stackToRoom('triple',3,pIndex); break;
						default: break;
					}
					this.detectEmptyRoom();
				},
				switchRoom(pIndex,RoomIndex,maximum,RoomType){
					let pType = this.passengers[pIndex].render.RoomType;
					if(pType == RoomType){
						if(this.passengers[pIndex].render.RoomIndex == RoomIndex){/*已經在此房間*/
							this.kickFromRoom(pIndex);
							return true;
						}
					}
					if(this.roomList[RoomType][RoomIndex].length>=maximum){ /*房間已滿*/
						alert('This room is already fulled !');
						return true;
					}
					if(pType != RoomType){
						this.kickFromRoom(pIndex,true);
					}else{
						this.kickFromRoom(pIndex);
					}
					this.stackToSpecificRoom(pIndex,RoomType,RoomIndex);
				},
				addToSpecialRoom(pIndex,roomType){
					this.kickFromRoom(pIndex,true);
					switch(roomType){
						case 'sp_double':
							this.passengers[pIndex].render.RoomType=roomType;
							this.stackToRoom(roomType,2,pIndex,true);
						break;
						case 'sp_triple':
							this.passengers[pIndex].render.RoomType=roomType;
							this.stackToRoom(roomType,3,pIndex,true);
						break;
						default:
						break;
					}
				},
				stackToSpecificRoom(pIndex,roomType,RoomIndex){
					rtList={}
					this.roomList[roomType][RoomIndex].push(pIndex);
					this.passengers[pIndex].render.RoomType=roomType;					
					this.markPassengerToRoom(pIndex,RoomIndex);
				},
				stackToRoom(roomType,maximum,pIndex,createNewRoom=false){
					let i = 0;
					if(!createNewRoom){
						for(let r of this.roomList[roomType]){
							if(r.length<maximum){
								r.push(pIndex);
								this.markPassengerToRoom(pIndex,i);
								return true;
							}
							i++;
						}
						this.roomList[roomType].push([pIndex]);
						this.markPassengerToRoom(pIndex,i);
					}else{
						this.roomList[roomType].push([pIndex]);
						this.markPassengerToRoom(pIndex,this.roomList[roomType].length-1);
					}
				},
				markPassengerToRoom(pIndex,i){
					this.passengers[pIndex].render.RoomIndex = i;
					this.roomCalc();
				},
				kickFromRoom(pIndex,onTypeChanged=false){
					for(let rt in this.roomList){
						if(rt=='single'||rt=='shared'){
							let is = 0
							for(let r of this.roomList[rt]){
								if(r[0]==pIndex){
									this.roomList[rt].splice(is,1);
									this.markPassengerToRoom(pIndex,null);
									if(onTypeChanged){
										this.detectEmptyRoom();
									}
									return true;
								}
								is++;
							}
						}else{
							let i = 0;
							for(let r of this.roomList[rt]){
								let j = 0;
								for(let p of r){
									if(p==pIndex){
										r.splice(j,1);
										this.markPassengerToRoom(pIndex,null);
										if(onTypeChanged){
											this.detectEmptyRoom();
										}
										return true;
									}
									j++;
								}
								i++;
							}
						}
					}
				},
				detectEmptyRoom(){
					for(let rt in this.roomList){
						let i = 0;
						for(r of this.roomList[rt]){
							if(r.length<=0){
								this.movePassengerAcrossEmptyRoom(rt,i);
								this.roomList[rt].splice(i,1);
								return false;
							}
							i++
						}
					}
					return true;
				},
				movePassengerAcrossEmptyRoom(RoomType,acrossInedx){
					if(acrossInedx==this.roomList[RoomType].length-1){return true;}
					for(let i = acrossInedx;i<=this.roomList[RoomType].length-1;i++){
						for(let pIndex of this.roomList[RoomType][i]){
							this.passengers[pIndex].render.RoomIndex = this.passengers[pIndex].render.RoomIndex-1;
						}
					}
				},
				goGetSearchCustomer(passenger,arg,key){
					passenger[key] = arg;
					this.requestSearchCustomer(passenger).then(res=>{
						passenger.render.customerSearchRawData=res.data.data;
						let tempList = [];
						for(let raw of passenger.render.customerSearchRawData){
							tempList.push(raw.FullName);
						}
						passenger.render.customerSearchResult = tempList;

					}).catch(error=>{
						passenger.render.customerSearchResult = [];
						console.log(error)
					})
				},
				useSearchResult(passenger,rawIndex){
					for(let key in passenger.render.customerSearchRawData[rawIndex]){
						passenger[key] = passenger.render.customerSearchRawData[rawIndex][key];
					}
					console.log(passenger);
					this.renderDate(passenger);
				},
				renderDate(passenger){
					let birthUTC = new Date(passenger.BirthdayUTC);
					let passportUTC = new Date(passenger.PassportExpiryUTC);
					passenger.render.birth={
						day:birthUTC.getDate(),
						month:(birthUTC.getMonth()+1),
						year:birthUTC.getFullYear(),
					}
					passenger.render.passport={
						day:passportUTC.getDate(),
						month:(passportUTC.getMonth()+1),
						year:passportUTC.getFullYear(),
					}
				},
				requestSearchCustomer(passenger){
					return window.mangoApi.post('Customer/List',{
						"FullName": (passenger.FirstName||'')+(passenger.LastName||''),
						"AgentCompanyId": "2089B380-D128-E811-A850-000D3AD117E3"
					}) 
				},
				roomCalc(){
					let amount = 0;
					let bookingPassengers=[];
					let PriceRef = {
						single:parseFloat(this.bookStorage.render.SingleRoomPrice),
						shared:parseFloat(this.bookStorage.render.DoubleRoomPrice)+59,
						double:parseFloat(this.bookStorage.render.DoubleRoomPrice),
						sp_double:parseFloat(this.bookStorage.render.DoubleRoomPrice),
						twin:parseFloat(this.bookStorage.render.TwinRoomPrice),
						sp_twin:parseFloat(this.bookStorage.render.TwinRoomPrice),
						triple:parseFloat(this.bookStorage.render.TripleRoomPrice),
						sp_triple:parseFloat(this.bookStorage.render.TripleRoomPrice),
					}
					let TypeRef={
						single:'Single room',
						shared:'Shared room',
						double:'Double room',
						sp_double:'Double room',
						twin:'Twin room',
						sp_twin:'Twin room',
						triple:'Triple room',
						sp_triple:'Triple room',	
					}
					for(let rt in this.roomList){
						for(let r of this.roomList[rt]){
							if(r.length>0){
								for(let p of r){
									amount+=PriceRef[rt];
								}
							}
						}
					}
					let i = 1;
					for(let p of this.passengers){
						bookingPassengers.push(
							{
								Name:'passenger'+i,
								RoomType:TypeRef[p.render.RoomType],
								Price:PriceRef[p.render.RoomType].toFixed(2),
							}) 
						i++;
					}
					this.bookStorage.render.bookingPassengers = bookingPassengers;
					this.bookStorage.render.amount = amount.toFixed(2);
				},
				submit(){
					if(this.status.isLoading){return false;}
					loadingComponent.show();
					this.status.isLoading = true;
					let pIndex = 0;
					for(let p of this.passengers){
						if(p.render.RoomIndex==null){
							alert('Please choose a room for passenger '+(pIndex+1));
							return false;
						}
						pIndex++;
					}
					while(!this.detectEmptyRoom()){};
					/*先把所有有ID的Modify,沒ID的Create*/
					this.generateBookingRoom();
					this.customerSubmit(()=>{
						this.bookStorage.passengers = this.passengers;
						mangoFunction.bookStorage().set(this.bookStorage);
						location.href="/booking-flight-details.html";
						loadingComponent.close();
						this.status.isLoading = false;
					},()=>{
						alert('Server Error!');
						loadingComponent.close();
						this.status.isLoading = false;
					})
				},
				customerSubmit(callback,error){
					let procees = 0;
					let proceesEnd = this.passengers.length;
					for(let p of this.passengers){
						if(!p.Id){
							this.addCustomer(p).then(res=>{
								procees++;
								p.Id = res.Id;
								if(procees==proceesEnd){callback()}
							}).catch(()=>{error()})
						}else{
							this.modifyCustomer(p).then(res=>{
								procees++;
								if(procees==proceesEnd){callback()}	
							}).catch(()=>{error()})
						}
					}
				},
				addCustomer(passenger){
					let agentStorage = mangoFunction.agentStorage().get();
					for(let key in agentStorage){
						passenger[key] = agentStorage[key];
					}
					this.resloveDate(passenger);
					return window.mangoApi.post('Customer/Create',passenger);
				},
				modifyCustomer(passenger){
					let agentStorage = mangoFunction.agentStorage().get();
					for(let key in agentStorage){
						passenger[key] = agentStorage[key];
					}
					this.resloveDate(passenger);
					return window.mangoApi.post('Customer/Modify',passenger);
				},
				resloveDate(passenger){
					passenger.BirthdayUTC = new Date(passenger.render.birth.year+
														'/'+passenger.render.birth.month+
														'/'+passenger.render.birth.day);
					passenger.Birthday = passenger.render.birth.day+'/'+
											  passenger.render.birth.month+'/'+
											  passenger.render.birth.year;
					passenger.PassportExpiryUTC = new Date(passenger.render.passport.year+
														'/'+passenger.render.passport.month+
														'/'+passenger.render.passport.day);
					passenger.PassportExpiry = passenger.render.passport.day+'/'+
											  passenger.render.passport.month+'/'+
											  passenger.render.passport.year;											  
				},
				generateBookingRoom(){
					let roomRef={
						single:1,
						double:2,
						sp_double:2,
						twin:2,
						sp_twin:2,
						shared:4,
						triple:5,
						sp_triple:5,
					}
					this.bookStorage.BookingRoom=[];
					for(let rt in this.roomList){
						for(let r of this.roomList[rt]){
							let room = {BookingRoomType:roomRef[rt]};
							for(let p of r){
								let c = 1;
								let tempP = {};
								for(let key in this.passengers[p]){
									if(key!='render'){
										tempP[key]=this.passengers[p][key];
									}
								}
								room['Customer'+c] = tempP;
								c++;
							}
							this.bookStorage.BookingRoom.push(room);
						}
					}
				}
			}
		});
	</script>
</body>
</html>