<!DOCTYPE html>
<html>
<head>
	<title>HolidayWeGo</title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/css/bundle.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" hostname="http://localhost:20900/api/" src="/js/mangoApiLite.js"></script>
</head>
<body>
	<header>
		<div class="headerWrapper">
			<div class="container pcHeader">
				<div class="flexBlock">
					<div class="left">
						<img src="/img/logo.png">
						<form>
							<input type="text" name="">
							<button><i class="icon-search"></i></button>
						</form>
					</div>
					<div class="right">
						<a href="tel:31670021888">
							<i class="icon-telephone"></i>
							<div>
								<span>Speak to a specialist</span>
								<h3>+ 61 3 7002 1888</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="mobileHeader">
				<span>
					<img src="/img/logo.png">
				</span>
				<span><i class="icon-search"></i></span>
				<span><i class="icon-telephone"></i></span>
				<span mobile-btn><i class="icon-navicon-round"></i></span>
			</div>
			<div class="menuBlock" mobile-block>
				<div class="container">
					<ul class="menuUl">
						<li><a href="#">DESTINATIONS</a></li>
						<li><a href="#">CRUISES</a></li>
						<li><a href="#">RAIL</a></li>
						<li><a href="#">HOLIDAY PACKAGES</a></li>
						<li><a href="#">SEPCIAL OFFERS</a></li>
						<li><a href="#">FIND AN AGENT</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="/portal/login.html">AGENT PORTAL</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper" id="app">
		<div class="bookingPage">
			<div class="container">
				<div class="grid">
					<div class="stepBlock card">
						<article>
							<div class="active">
								<i class="icon-date"></i>
								<span>Dates</span>
							</div>
							<div class="active">
								<i class="icon-user"></i>
								<span>Passenger Details</span>
							</div>
							<div class="active">
								<i class="icon-plane"></i>
								<span>Flight Details</span>
							</div>
						</article>
					</div>
					<booking-description v-bind:info="bookStorage"></booking-description>
					<div class="mainBlock card">
						<h3>Passengers On This Flight:</h3>
						<p>
							If your trip include arrival transfer, please kindly put in the flight details of your travellers. You can add or edit the flight details up to 30 days prior to departure. If you require departure transfers, please put in the departure flight details and request a quote.
						</p>
						<div class="FlightDetail" v-if="passengers">
							<div class="passengers clearfix">
								<div class="StyleCheckbox">
									<input type="checkbox" id="all" v-model="allPassengers">
									<label for="all"><b></b><span>All Passengers</span></label>
								</div>
								<div v-bind:class="'StyleCheckbox '+(allPassengers?'locked':'')" v-for="(p,index) of passengers">
									<input type="checkbox" v-bind:id="'p'+index" v-model="p.hasFlight">
									<label v-bind:for="'p'+index"><b></b><span>{{p.FullName}}</span></label>
								</div>
							</div>
							<div class="flight">
								<ul>
									<li v-for="f of FlightDetails">
										<div class="bookInputBlock">
											<p>Flight Number</p>
											<div class="inputGroup">
												<input type="text" name="" v-model="f.FlightNumber">
											</div>
										</div>
										<div class="bookInputBlock">
											<p>Flight Date</p>
											<div class="inputGroup birth">
												<input type="number" name="" placeholder="Day" v-model="f.render.date.day">
												<input type="number" name="" placeholder="Month" v-model="f.render.date.month">
												<input type="number" name="" placeholder="Year" v-model="f.render.date.year">
											</div>
										</div>
										<div class="bookInputBlock">
											<p>Airline</p>
											<div class="inputGroup">
												<input type="text" name="" v-model="f.Airline">
											</div>
										</div>
										<div class="bookInputBlock">
											<p>Departure Airport</p>
											<div class="inputGroup">
												<input type="text" name="" v-model="f.DepartureAirport">
											</div>
										</div>
										<div class="bookInputBlock">
											<p>Arrival Airport</p>
											<div class="inputGroup">
												<input type="text" name="" v-model="f.ArrivalAirport">
											</div>
										</div>
									</li>
								</ul>
								<div class="addBlock">
									<span class="add" v-on:click="addFlight"><i class="icon-android-add"></i>Add Flight</span>
								</div>
							</div>
						</div>
						<div class="btnBlock">
							<span class="btn green" v-on:click="submit">Next</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="flexBlock">
				<article class="logo">
					<img src="/img/logo.png">
				</article>
				<article class="contact">
					<p>
						Australia’s premier travel wholesale provider. <br>
						<i class="icon-mail"></i> res@holidaywego.com.au <br>
						<i class="icon-telephone"></i> +61 3 7002 1888
					</p>
					<div>
						<a href="#" class="btn border">Request a brochure</a>
					</div>
				</article>
				<article class="social">
					<div>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
					</div>
					<p>© Holiday We Go 2009 - 2018</p>
				</article>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		vueFactory.bookingDescript();
		var bookStorage = mangoFunction.bookStorage().get();
		if(!bookStorage||!bookStorage.PackageId){
			alert('PackageId not found !')
			history.back();
		}
		let FlightDetailTemplate={
			Name: null,
		    FlightNumber: null,
		    FlightDate: null,
		    Airline: null,
		    DepartureAirport: null,
		    ArrivalAirport: null,
		    render:{
		    	date:{
		    		day:null,
		    		month:null,
		    		year:null,
		    	}
		    }
		}
		var loadingComponent = mangoFunction.loadingComponent();
		new Vue({
			el:"#app",
			data(){
				return{
					bookStorage:bookStorage,
					passengers:bookStorage.passengers,
					FlightDetails:[],
					allPassengers:false,
					status:{
						isLoading:false
					}
				}
			},
			methods:{
				addFlight(){
					this.FlightDetails.push(JSON.parse(JSON.stringify(FlightDetailTemplate)));
				},
				packagePassenger(){
					bookStorage.FlightDetails = [];
					for(let f of this.FlightDetails){
						f.FlightDate = new Date(this.renderDate(f.render.date));
						for(let p of this.passengers){
							if(p.hasFlight){
								let flightForm = {};
								for(let key in f){
									flightForm[key] = f[key]; 
								}
								flightForm.CustomerId = p.Id;
								bookStorage.FlightDetails.push(flightForm);
							}
						}
					}
				},
				renderDate(date){
					return date.year+'/'+date.month+'/'+date.day;
				},
				submit(){
					if(this.status.isLoading){return false;}
					loadingComponent.show();
					this.status.isLoading = true;
					this.packagePassenger();
					let submitForm={
						AvailableDatesId:this.bookStorage.render.Id,
						PackageId:this.bookStorage.PackageId,
						BookingRoom:this.bookStorage.BookingRoom,
						FlightDetails:this.bookStorage.FlightDetails,
					}
					let agentStorage = window.mangoFunction.agentStorage().get();
					for(let key in agentStorage){
						submitForm[key]=agentStorage[key];
					}
					console.log(submitForm);
					this.requestBooking(submitForm).then((res)=>{
						console.log(res);
						alert('booking successful !');
						loadingComponent.close();
						this.status.isLoading = false;
					}).catch((error)=>{
						alert('Sever Error !');
						loadingComponent.close();
						this.status.isLoading = false;
					});
				},
				requestBooking(submitForm){
					return window.mangoApi.post('booking/book',submitForm);
				}
			},
			watch:{
				allPassengers(val){
					for(let p of this.passengers){
						p.hasFlight = val;
					} 
				}
			}
		});
	</script>
</body>
</html>