<!DOCTYPE html>
<html>
<head>
	<title>HolidayWeGo</title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<link rel="stylesheet" type="text/css" href="/css/bundle.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" hostname="http://localhost:20900/api/" src="/js/mangoApiLite.js"></script>
</head>
<body>
	<header>
		<div class="headerWrapper">
			<div class="container pcHeader">
				<div class="flexBlock">
					<div class="left">
						<img src="/img/logo.png">
						<form>
							<input type="text" name="">
							<button><i class="icon-search"></i></button>
						</form>
					</div>
					<div class="right">
						<a href="tel:31670021888">
							<i class="icon-telephone"></i>
							<div>
								<span>Speak to a specialist</span>
								<h3>+ 61 3 7002 1888</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="mobileHeader">
				<span>
					<img src="/img/logo.png">
				</span>
				<span><i class="icon-search"></i></span>
				<span><i class="icon-telephone"></i></span>
				<span mobile-btn><i class="icon-navicon-round"></i></span>
			</div>
			<div class="menuBlock" mobile-block>
				<div class="container">
					<ul class="menuUl">
						<li><a href="#">DESTINATIONS</a></li>
						<li><a href="#">CRUISES</a></li>
						<li><a href="#">RAIL</a></li>
						<li><a href="/package-travelPackageList.html">HOLIDAY PACKAGES</a></li>
						<li><a href="#">SEPCIAL OFFERS</a></li>
						<li><a href="#">FIND AN AGENT</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="/portal/login.html">AGENT PORTAL</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper" id="app">
		<div class="findAgentPage">
			<section class="mapSearcher">
				<div class="map" ref="map"></div>
				<div class="layout">
					<div class="searchBlock">
						<h2>Find Agents Near</h2>
						<div class="searchBar">
							<input type="" name="" placeholder="Postcode" v-model="postcode" v-on:change="searchNearby">
							<i class="icon-search" v-on:click="searchNearby"></i>
						</div>
					</div>
				</div>
			</section>
			<section class="agentList">
				<div class="container">
					<h2 class="didot hometitle">Your Nearest Agents</h2>
					<div class="grid">
						<article v-for="c of companyList">
							<img v-bind:src="c.Logo">
							<div>
								<h3 class="didot">{{c.CompanyName}}</h3>
								<ul>
									<li><i class="icon-map-pin-fill"></i></li>
									<li><span>{{c.CompanyAddress}}</span></li>
								</ul>
								<ul>
									<li><i class="icon-android-call"></i></li>
									<li><a v-bind:href="'tel:'+c.CompanyTelephoneNumber">{{c.CompanyTelephoneNumber}}</a></li>
								</ul>
								<ul>
									<li><i class="icon-email"></i></li>
									<li><a v-bind:href="'mailto:'+c.Email">{{c.Email}}</a></li>
								</ul>
							</div>
						</article>
					</div>
				</div>
			</section>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="flexBlock">
				<article class="logo">
					<img src="/img/logo.png">
				</article>
				<article class="contact">
					<p>
						Australia’s premier travel wholesale provider. <br>
						<i class="icon-mail"></i> res@holidaywego.com.au <br>
						<i class="icon-telephone"></i> +61 3 7002 1888
					</p>
					<div>
						<a href="#" class="btn border">Request a brochure</a>
					</div>
				</article>
				<article class="social">
					<div>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
					</div>
					<p>© Holiday We Go 2009 - 2018</p>
				</article>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		var app =  new Vue({
			el:"#app",
			data(){
				return{
					map:null,
					postcode:null,
					infowindow:null,
					markerList:[],
					companyList:[],
				}
			},
			mounted(){
			},
			methods:{
				initMap(){
					this.map = new google.maps.Map(this.$refs.map, {
		            zoom: 5,
		            center: {lat:-24.707434 , lng:134.689007},
		            scrollwheel: false,
		            styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#dde6e8"},{"visibility":"on"}]}]
			        });
			        this.getLatLng().then(val=>{
			        	this.map.setCenter(val);
			        });
			        this.infowindow = new google.maps.InfoWindow({content: ''});
			        this.requestAgent().then(res=>{
			        	this.companyList = res.data.data;
				        this.initMarker();
			        })
				},
				getLatLng(postcode){
					let params = {
						key:'AIzaSyDa6s4jPyOd1wwcmVul0HdhZqyguCHALdA',
						address:'Australia '+postcode
					}
					return axios.get('https://maps.googleapis.com/maps/api/geocode/json',{params}).then(res=>{
						if(res.data.results.length>0){
							return res.data.results[0].geometry.location;
						}else{
							return {
								lat: -24.707434, lng: 134.689007
							};
						}
					})
				},
				searchNearby(){
					this.getLatLng(this.postcode).then(val=>{
						this.map.setCenter(val);
						this.map.setZoom(14);
					})
				},
				initMarker(){
					this.markerList = [];
					for(let c of this.companyList){
						let marker = new google.maps.Marker({
							    position: {lat:parseFloat(c.latitude),lng:parseFloat(c.longitude)},
							    map: this.map,
							    title:c.CompanyName
							  });
						marker.addListener('click', ()=>{
							this.setInfowindow(c,marker);
						});
						this.markerList.push(marker);
					}
				},
				setInfowindow(companey,marker){
					this.infowindow.setContent(this.getInfoWindowTemplate(companey))
					this.infowindow.open(this.map,marker);
				},
				getInfoWindowTemplate(companey){					
					return '<div class="agentList">'+
							'<article>'+
								'<img src="'+companey.Logo+'">'+
								'<div>'+
									'<h3 class="didot">'+companey.CompanyName+'</h3>'+
									'<ul>'+
										'<li><i class="icon-map-pin-fill"></i></li>'+
										'<li><span>'+companey.CompanyAddress+'</span></li>'+
									'</ul>'+
									'<ul>'+
										'<li><i class="icon-android-call"></i></li>'+
										'<li><a href="tel:'+companey.CompanyTelephoneNumber+'">'+companey.CompanyTelephoneNumber+'</a></li>'+
									'</ul>'+
									'<ul>'+
										'<li><i class="icon-email"></i></li>'+
										'<li><a href="mailto:'+companey.Email+'">'+companey.Email+'</a></li>'+
									'</ul>'+
								'</div>';
				},
				requestAgent(){
					return mangoApi.post('Agent/FindAllAgents',{});
				}
			}
		})
	</script>
	<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa6s4jPyOd1wwcmVul0HdhZqyguCHALdA&callback=app.initMap">
	</script>
</body>
</html>