<!DOCTYPE html>
<html>
<head>
	<title>HolidayWeGo</title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<link rel="stylesheet" type="text/css" href="/css/bundle.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" hostname="http://localhost:20900/api/" src="/js/mangoApiLite.js"></script>
</head>
<body>
	<header>
		<div class="headerWrapper">
			<div class="container pcHeader">
				<div class="flexBlock">
					<div class="left">
						<img src="/img/logo.png">
						<form>
							<input type="text" name="">
							<button><i class="icon-search"></i></button>
						</form>
					</div>
					<div class="right">
						<a href="tel:31670021888">
							<i class="icon-telephone"></i>
							<div>
								<span>Speak to a specialist</span>
								<h3>+ 61 3 7002 1888</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="mobileHeader">
				<span>
					<img src="/img/logo.png">
				</span>
				<span><i class="icon-search"></i></span>
				<span><i class="icon-telephone"></i></span>
				<span mobile-btn><i class="icon-navicon-round"></i></span>
			</div>
			<div class="menuBlock" mobile-block>
				<div class="container">
					<ul class="menuUl">
						<li><a href="#">DESTINATIONS</a></li>
						<li><a href="#">CRUISES</a></li>
						<li><a href="#">RAIL</a></li>
						<li><a href="#">HOLIDAY PACKAGES</a></li>
						<li><a href="#">SEPCIAL OFFERS</a></li>
						<li><a href="#">FIND AN AGENT</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="/portal/login.html">AGENT PORTAL</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="wrapper" id="app" v-cloak>
		<div class="travelPackageList">
			<section class="fullyTitle">
				<div class="container">
					<h1>All Travel Packages</h1>
				</div>
			</section>
			<section class="searchList">
				<div class="container">
					<div class="flex">
						<div class="right">
							<filter-component v-if="pageRequest" v-on:search="getResult" v-on:loading="onLoading" v-bind:page="pageRequest"></filter-component>
						</div>
						<div class="left">
							<div class="blockResult">
								<div><b>Result:</b><span>Displaying {{pageCtl.current*pageCtl.perpage+1}}-{{(pageCtl.current+1)*pageCtl.perpage}} of {{packageResults.length}}</span></div>
								<div class="componentpagination">
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current==0)?'locked':''" v-on:click="goPage(0)"><i class="icon-pager-prev"></i></a>
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current==0)?'locked':''" v-on:click="prevPage()"><i class="icon-pager-left"></i></a>
									<span>{{pageCtl.current+1}} of {{pageCtl.total}}</span>
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current+1==pageCtl.total)?'locked':''" v-on:click="nextPage()">
										<i class="icon-pager-right"></i></a>
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current+1==pageCtl.total)?'locked':''" v-on:click="goPage(pageCtl.total-1)">
										<i class="icon-pager-next"></i></a>
								</div>
							</div>
							<div class="grid" id="gridResult">
								<article v-for="package of pageList[pageCtl.current]">
									<a v-bind:href="'TravelPackage/Itinerary/'+package.PackageId">
										<div class="photofix">
											<img v-bind:src="package.CoverPic">
											<div class="layout">
												<i class="icon-plane"></i>
												<i class="icon-ship"></i>
												<i class="icon-bus"></i>
												<i class="icon-train"></i>
											</div>
										</div>
										<div class="des">
											<div>
												<h3 class="didot">{{package.PackageName}}</h3>
												<p>{{package.Descript}}</p>
												<div class="labelBlock">
													<label>{{package.Days}} Days</label>
													<label v-if="package.Countrys>0">{{package.Countrys}} Countries</label>
													<label v-if="package.Meals>0">{{package.Meals}} Meals</label>
												</div>
												<h4>From $ {{package.FromPrice}} PP</h4>
											</div>
										</div>
									</a>
								</article>
							</div>
							<div class="blockResult">
								<div></div>
								<div class="componentpagination">
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current==0)?'locked':''" v-on:click="goPage(0)"><i class="icon-pager-prev"></i></a>
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current==0)?'locked':''" v-on:click="prevPage()"><i class="icon-pager-left"></i></a>
									<span>{{pageCtl.current+1}} of {{pageCtl.total}}</span>
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current+1==pageCtl.total)?'locked':''" v-on:click="nextPage()">
										<i class="icon-pager-right"></i></a>
									<a href="javascript:void(0)"
										v-bind:class="(pageCtl.current+1==pageCtl.total)?'locked':''" v-on:click="goPage(pageCtl.total-1)">
										<i class="icon-pager-next"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="flexBlock">
				<article class="logo">
					<img src="/img/logo.png">
				</article>
				<article class="contact">
					<p>
						Australia’s premier travel wholesale provider. <br>
						<i class="icon-mail"></i> res@holidaywego.com.au <br>
						<i class="icon-telephone"></i> +61 3 7002 1888
					</p>
					<div>
						<a href="#" class="btn border">Request a brochure</a>
					</div>
				</article>
				<article class="social">
					<div>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
					</div>
					<p>© Holiday We Go 2009 - 2018</p>
				</article>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		vueFactory.filterComponent();
		new Vue({
			el:"#app",
			data(){
				return {
					packageResults:[],
					pageList:[],
					pageCtl:{
						current:0,
						total:0,
						perpage:9,
					},
					pageRequest:null,
					loadingComponent:null
				}
			},
			created(){
				this.getURLQuery();
			},
			mounted(){
				this.createLoading();
			},
			methods:{
				getResult(data){
					console.log(data);
					this.packageResults=data.data.data_list;
					this.initPage();
					setTimeout(()=>{mangoFunction.SetPhotofix();},0);
					this.loadingComponent.close();
				},
				onLoading(){
					this.createLoading();
					this.loadingComponent.show();
				},
				createLoading(){
					if(!this.loadingComponent){
						this.loadingComponent = mangoFunction.loadingComponent({insertEl:'#gridResult'});
					}		
				},
				getURLQuery(){
					this.pageRequest = {};
					let URLstring = location.search.slice(1);
					for(let param of URLstring.split('&')){
						let p = param.split('=');
						this.pageRequest[p[0]]=p[1];
					}
				},
				initPage(){
					let index = 0;
					this.pageList = [];
					for(let p of this.packageResults){
						this.pageList[Math.floor(index/this.pageCtl.perpage)] = this.pageList[Math.floor(index/this.pageCtl.perpage)] || [];
						this.pageList[Math.floor(index/this.pageCtl.perpage)].push(p)
						index++; 
					}
					this.pageCtl.current = 0;
					this.pageCtl.total = Math.ceil(this.packageResults.length/this.pageCtl.perpage);
				},
				nextPage(){
					if(this.pageCtl.current<this.pageCtl.total){
						this.goPage(this.pageCtl.current+1);			
					}
				},
				prevPage(){
					if(this.pageCtl.current>0){
						this.goPage(this.pageCtl.current-1);			
					}
				},
				goPage(index){
					this.pageCtl.current = index;
				}
			}
		})
	</script>
</body>
</html>