<template>
  <div id="app" style="height:1900px">
      <!-- <full-calender/> -->
      <!-- <quantity-input/> -->
      <!-- <input-float-result></input-float-result> -->
      <!-- <calendar :multiple="true"></calendar> -->
      <!-- <calendar-input :multiple="true" v-bind:align="'right'"></calendar-input> -->
      <!-- <calendar-input :multiple="true"></calendar-input> -->
      <div class="travelPackageList">
        <section class="searchList" style="display:flex">
          <div class="right">
            <filter-component></filter-component>
          </div>
        </section>
      </div>
  </div>
</template>

<script>
// import FullCalender from './components/FullCalender';
export default {
  name: 'App',
  // components:{FullCalender}
  data(){
  	return{
  	}
  },
  methods:{
  	}
}
</script>
