<template>
  <div class="description card">
    <h4>My trip</h4>
    <hr/>
    <div>
      <ul v-if="info.render.PackageInfo">
        <li>
          <h5>Starts in {{info.render.PackageInfo.StartCity}}</h5>
          <p>{{startDate}}</p>
        </li>
        <li>
          <h5>Ends in {{info.render.PackageInfo.EndCity}}</h5>
          <p>{{endDate}}</p>
        </li>
      </ul>
    </div>
    <hr/>
    <div class="subtotal" v-if="info.render.bookingPassengers">
      <article v-for="p of info.render.bookingPassengers">
        <div class="flex">
          <h4>{{p.Name}}</h4>
          <h4 class="green">${{p.Price}}</h4>
        </div>
        <p>{{p.RoomType}}</p>
      </article>
    </div>
    <div class="flex" v-if="info.render.commision>0">
      <p class="green">My commission</p>
      <span v-on:click="eyeToggle = !eyeToggle">
        <span class="green" v-if="eyeToggle">${{info.render.commision.toFixed(4)}}</span>
        <i v-if="!eyeToggle" class="icon-eye-slash"></i>
        <i v-if="eyeToggle" class="icon-eye"></i>
      </span>
    </div>
    <div class="flex greenBlock" v-if="info.render.amount||info.render.BasePrice">
      <h4>Amount Due</h4>
      <h3>AUD ${{info.render.amount||info.render.BasePrice}}</h3>
    </div>
  </div>
</template>

<script>
const dayRef = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
const monthRef = [
  'January','February','March','April','May','June','July','August','September','October','November', 'December']
export default {
  name: 'booking-description',
  props:{
    info:{
      default:{
        render:{
          bookingPassengers:[],
          amount:null,
          commision:0,
          StartDateUTC:false,
          EndDateUTC:false,
        }
      }}
  },
  data () {
    return {
      eyeToggle:false
    }
  },
  mounted(){
  },
  methods:{
    dateFormate(d){
      let date = new Date(d);
      return dayRef[date.getDay()]+', '+date.getDate()+' '+monthRef[date.getMonth()]+' '+date.getFullYear();
    }
  },
  computed:{
    startDate(){
      if(this.info.render.StartDateUTC){
        return this.dateFormate(this.info.render.StartDateUTC);
      }else{
        return '　';
      }
    },
    endDate(){
      if(this.info.render.EndDateUTC){
        return this.dateFormate(this.info.render.EndDateUTC);
      }else{
        return '　';
      }
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
