<template>
  <div class="componentSliderBar" ref="componentSliderBar">
    <div class="bar" ref="bar">
      <div class="range" ref="randerRange">
        <b
          v-bind:class="flagMin?'active':''"
          v-on:mousedown="dragStart('flagMin','valueMin',arguments[0])"
          v-on:mouseup="dragEnd('flagMin')"
          v-on:mousemove="dragging(flagMin,'valueMin',arguments[0])"
          ></b>
        <b
          v-bind:class="flagMax?'active':''"
          v-on:mousedown="dragStart('flagMax','valueMax',arguments[0])"
          v-on:mouseup="dragEnd('flagMax')"
          v-on:mousemove="dragging(flagMax,'valueMax',arguments[0])"
          ></b>
      </div>
    </div>
    <div class="text">
      <span>{{prefix}}{{valueMin}}</span>
      <span>{{prefix}}{{valueMax}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'component-slider-bar',
  props:{
    min:{
      default:0
    },
    max:{
      default:100
    },
    step:{
      default:15
    },
    prefix:{
      default:'$'
    }
  },
  data () {
    return {
      total:this.max - this.min,
      valueMin:this.min,
      valueMax:this.max,
      clientWidth:null,
      offsetLeft:null,
      flagMin:false,
      flagMax:false,
    }
  },
  mounted(){
    document.body.addEventListener('click',this.globalClick);
    this.clientWidth = this.$refs.bar.clientWidth;
    this.offsetLeft = this.$refs.bar.offsetLeft;
    this.renderValue();
  },
  methods:{
    reset(){
      this.valueMin = this.min;
      this.valueMax = this.max;
      this.renderValue();
    },
    dragStart(flag,value,e){
      this[flag] = true;
    },
    dragging(flag,value,e){
      if(flag){
        let change = ((e.clientX-this.offsetLeft)/this.clientWidth)*this.total + this.min;
        if(Math.abs(this[value] - change)>this.step&&this[value]>=this.min&&this[value]<=this.max){
          if(change>=this.max){
            this[value] = this.max;
          }else if(change<this.min){
            this[value] = this.min;
          }else{
            this[value] = parseInt(change);
          }
        }else if((e.clientX-this.offsetLeft)<=(this.step/this.total)*this.clientWidth){
          this[value] = this.min;
        }else if((e.clientX-this.offsetLeft)>=this.clientWidth){
          this[value] = this.max;
        }
      }
    },
    dragEnd(flag){
      if(this[flag]){
        this.$emit('change',{
          min:this.valueMin,
          max:this.valueMax
        })
      }
      this[flag] = false;
    },
    globalClick(e){
      let compare = this.$refs.componentSliderBar; 
      for(let el of e.path){
        if(el==compare){return false}
      }
      this.dragEnd('flagMin');
      this.dragEnd('flagMax');
    },
    renderValue(){
      let range = this.$refs.randerRange;
      let minPosition = ((this.valueMin-this.min)/this.total)*100;
      range.style.left = minPosition+'%';
      let maxPosition = ((this.valueMax-this.min)/this.total)*100;
      range.style.width = maxPosition-minPosition+'%';
    }
  },
  watch:{
    valueMin:{
     handler(){
      this.renderValue();
     } 
    },
    valueMax:{
      handler(){
      this.renderValue();
     } 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
