<template>
    <div class="ComponentCalender">
      <div class="calendarElement">
        <div class="flex" v-if="multiple"><span>FROM</span></div>
        <div class="calendar-ctl">
          <i class="icon-angle-left" v-on:click="prevMonth('calendar1')"></i>
          <span>{{monthRef[calendar1.current.month]}} {{calendar1.current.year}}</span>
          <i class="icon-angle-right" v-on:click="nextMonth('calendar1')"></i>
        </div>
        <div class="calendar-wrap">
          <ul class="title">
            <li><span>MON</span></li>
                <li><span>TUE</span></li>
                <li><span>WED</span></li>
                <li><span>THU</span></li>
                <li><span>FRI</span></li>
                <li><span>SAT</span></li>
                <li><span>SUN</span></li>
          </ul>
          <ul class="date">
            <li>
              <ul v-for="week of calendar1.renderMonth">
                <li v-for="date of week"
                    v-on:click="selectDate(date,'calendar1')"
                    v-bind:class="(date.active?' active':'')
                    + (date.isEmpty?' empty':'')
                    + (date.isOutRange?' outRange':'')
                    + (date.isStart?' start':'')
                    + (date.isEnd?' end':'')
                    + (date.selected?' selected':'')"><span>{{date.date}}</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div v-if="multiple" class="calendarElement">
        <div class="flex"><span>TO</span></div>
        <div class="calendar-ctl">
          <i class="icon-angle-left" v-on:click="prevMonth('calendar2')"></i>
          <span>{{monthRef[calendar2.current.month]}} {{calendar2.current.year}}</span>
          <i class="icon-angle-right" v-on:click="nextMonth('calendar2')"></i>
        </div>
        <div class="calendar-wrap">
          <ul class="title">
            <li><span>MON</span></li>
                <li><span>TUE</span></li>
                <li><span>WED</span></li>
                <li><span>THU</span></li>
                <li><span>FRI</span></li>
                <li><span>SAT</span></li>
                <li><span>SUN</span></li>
          </ul>
          <ul class="date">
            <li>
              <ul v-for="week of calendar2.renderMonth">
                <li v-for="date of week"
                    v-on:click="selectDate(date,'calendar2')"
                    v-bind:class="(date.active?' active':'')
                    + (date.isEmpty?' empty':'')
                    + (date.isOutRange?' outRange':'')
                    + (date.isStart?' start':'')
                    + (date.isEnd?' end':'')
                    + (date.selected?' selected':'')"><span>{{date.date}}</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'ComponentCalender',
  props: {
    multiple:{
      default:false,
    },
    initDate:{
      default:{
        calendar1:null,
        calendar2:null,
      }
    }
  },
  data () {
    return {
      monthRef:['January','February','March','April','May','June','July','August','September','October','November','December'],
      calendar1:{
        current:{
          month:new Date().getMonth(),
          year:new Date().getFullYear(),
        },
        selectDate:null,
        renderMonth:[],
      },
      calendar2:{
        current:{
          month:new Date().getMonth(),
          year:new Date().getFullYear(),
        },
        selectDate:null,
        renderMonth:[],
      },
      SelectDate:{
        calendar1:null,
        calendar2:null,
      }
    }
  },
  mounted(){
    this.initCalenderDate();
    this.initCalender('calendar1');
    if(this.multiple){
      this.initCalender('calendar2');
    }
  },
  methods:{
    initCalender(calendarName){
      this[calendarName].renderMonth = [];
      let thisMonth;
      let totalDate = 0;
      let dateAry = [];
      if(this[calendarName].current.month!=11){
        thisMonth = new Date(this[calendarName].current.year+'/'+(this[calendarName].current.month+1)+'/1');
        totalDate = (new Date(this[calendarName].current.year+'/'+(this[calendarName].current.month+2)+'/1').getTime() - thisMonth.getTime())/86400000;
      }else{
        thisMonth = new Date(this[calendarName].current.year+'/12/1');
        totalDate = (new Date((this[calendarName].current.year+1)+'/1/1').getTime() - new Date(this[calendarName].current.year+'/12/1').getTime())/86400000;
      }
      let startDay = (thisMonth.getDay()==0)?7:thisMonth.getDay(); 
      let totalWeek = Math.ceil((totalDate+startDay-1)/7);
      this.proceed = 1;
      for(let i=1;i<=totalWeek;i++){
        this[calendarName].renderMonth.push(this.generateWeek(startDay,totalDate,i,totalWeek));
      }
      this.initSelected(calendarName);
      this.initOutofRange(calendarName);
    },
    initSelected(calendarName){
      if(!this.SelectDate[calendarName]){return false}
      if(this[calendarName].current.year!= this.SelectDate[calendarName].getFullYear()){return false}
      if(this[calendarName].current.month!= this.SelectDate[calendarName].getMonth()){return false}
      let cDate = this.SelectDate[calendarName].getDate();
      for(let w of this[calendarName].renderMonth){
          for(let d of w){
            if(d.date==cDate){
              d.selected = true;
              return true;
            }
          }
      }
    },
    initOutofRange(calendarName){
      if(!this.multiple){return false}
      switch(calendarName){
        case 'calendar1':
          if(!this.SelectDate.calendar2){
            this.cleanOutofRange(calendarName);
          }
          else if(this.calendar1.current.year<this.SelectDate.calendar2.getFullYear()){
            this.cleanOutofRange(calendarName);
          }
          else if(this.calendar1.current.month<this.SelectDate.calendar2.getMonth()){
            this.cleanOutofRange(calendarName);
          }
          else if(this.calendar1.current.month>this.SelectDate.calendar2.getMonth()){
            for(let w of this.calendar1.renderMonth){
              for(let d of w){
                d.isOutRange = true;
              }
            }
          }else{
            let cDate = this.SelectDate.calendar2.getDate()
            for(let w of this.calendar1.renderMonth){
                for(let d of w){
                  d.isOutRange = d.date>=cDate;
                }
            }
          }
        break;
        case 'calendar2':
          if(!this.SelectDate.calendar1){
            this.cleanOutofRange(calendarName);
          }
          else if(this.calendar2.current.year>this.SelectDate.calendar1.getFullYear()){
            this.cleanOutofRange(calendarName);
          }
          else if(this.calendar2.current.month>this.SelectDate.calendar1.getMonth()){
            this.cleanOutofRange(calendarName);
          }
          else if(this.calendar2.current.month<this.SelectDate.calendar1.getMonth()){
            for(let w of this.calendar1.renderMonth){
              for(let d of w){
                d.isOutRange = true;
              }
            }
          }else{
            let cDate = this.SelectDate.calendar1.getDate()
            for(let w of this.calendar2.renderMonth){
                for(let d of w){
                  d.isOutRange = d.date<=cDate;
                }
            }
          }
        break;
        default:
        break;
      }
    },
    cleanOutofRange(calendarName){
      for(let w of this[calendarName].renderMonth){
        for(let d of w){
          d.isOutRange = false;
        }
      }
    },
    nextMonth(calendarName){
      if(this[calendarName].current.month>=11){
        this[calendarName].current.month = 0;
        this[calendarName].current.year += 1;
      }else{
        this[calendarName].current.month += 1;
      }
      this.initCalender(calendarName);
    },
    prevMonth(calendarName){
      if(this[calendarName].current.month<=0){
        this[calendarName].current.month = 11;
        this[calendarName].current.year -= 1;
      }else{
        this[calendarName].current.month -= 1;
      }
      this.initCalender(calendarName);
    },
    generateWeek(s,t,nw,tw){
      let week = [];
      if(this.proceed==1){
        for(let i = 1;i<s;i++){
          week.push(this.generateDay(0));
        }
        for(let i = s;i<=7;i++){
          week.push(this.generateDay(this.proceed,t));
          this.proceed++;
        }
      }else if(nw==tw){
         for(let i = this.proceed;i<=t;i++){
          week.push(this.generateDay(this.proceed,t));
          this.proceed++;
        }
        for(let i = (this.proceed+s-1);i<=tw*7;i++){
          week.push(this.generateDay(0));
        }
      }else{
        for(let i = 0;i<7;i++){
          week.push(this.generateDay(this.proceed,t));
          this.proceed++;
        }
      }
      /*決定頭尾*/
      week[0].isStart=true;
      week[6].isEnd=true;
      return week;
    },
    generateDay(d,totalDate){
      if(d==0){
        return {date:null,isEmpty:true,isOutRange:true,active:false,selected:false}
      }else{
        return {
          date:d,isEmpty:false,isOutRange:false,active:false,
          selected:false,isStart:(d==1?true:false),isEnd:(d==totalDate?true:false)}
      }
    },
    selectDate(date,calendarName){
      for(let w of this[calendarName].renderMonth){
        for(let d of w){
          d.selected = false;
        }
      }
      date.selected = true;
      this.SelectDate[calendarName] = new Date(this[calendarName].current.year+'/'+(this[calendarName].current.month+1)+'/'+date.date);
      this[calendarName].selectDate = this.SelectDate[calendarName];
      this.$emit('select',this.SelectDate);
      switch(calendarName){
        case 'calendar1':
          this.initOutofRange('calendar2');
          break;
        case 'calendar2':
          this.initOutofRange('calendar1');
          break;
      }
    },
    initCalenderDate(){
      if(this.multiple){
        if(this.initDate.calendar1==null&&this.initDate.calendar2==null){return false}
      }else{
        if(this.initDate.calendar1==null){return false}
      }
      this.SelectDate.calendar1 = this.initDate.calendar1?new Date(this.initDate.calendar1):null;
      this.SelectDate.calendar2 = this.initDate.calendar2?new Date(this.initDate.calendar2):null;
      for(let calendar in this.SelectDate){
        if(this.SelectDate[calendar]){
          this[calendar].current.month = this.SelectDate[calendar].getMonth(); 
          this[calendar].current.year = this.SelectDate[calendar].getFullYear();
        }
      }
    },
    reset(){
      this.SelectDate={
        calendar1:null,
        calendar2:null,
      }
      this.initCalender('calendar1');
      if(this.multiple){
        this.initCalender('calendar2');
      }
    }
  }
}
</script>
<style>
  .ComponentCalender{
    display: flex;
  }
  .ComponentCalender ul,
  .ComponentCalender li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ComponentCalender .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f3f0f0;
    padding: 5px 0;
    margin: 0 30px;
  }
  .ComponentCalender .calendarElement{
    width: 300px;
    background-color: #fff;
  }
  .ComponentCalender .calendarElement:not(:last-child){
    border-right: 1px solid #eee;
  }
  .ComponentCalender .calendarElement .calendar-ctl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;
  }
  .ComponentCalender .calendarElement .calendar-ctl i{
    padding: 4px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;;;;
  }
  .ComponentCalender .calendarElement .calendar-ctl span{}
  .ComponentCalender .calendarElement .calendar-wrap{
    padding: 10px
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.title{
    display: flex;
    margin-bottom: 6px;;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.title li{
    flex: 1;
    text-align: center;
    font-size: 12px;
    color: #909eb0;;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date{}
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul{
    display: flex;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li{
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    position: relative;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li span{
    position: relative;
    z-index: 10;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li:after{
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    left: 50%;
    height: 80%;
    top: 10%;
    background-color:#31beb2;
    border-radius: 40px;
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li.selected span{
    color: #fff;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li.selected:after{
    opacity: 1;
    width: 70%;
    left: 15%;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li.expired span{
    color: #999;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li.empty,
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li.outRange{
    color: #999;
    pointer-events: none;
  }
  .ComponentCalender .calendarElement .calendar-wrap ul.date ul li.expired{
    pointer-events: none;
  }
</style>
