<template>
  <div>
    <div class="blockResult">
      <b>Filters</b>
      <span class="TextBtn">Clear all</span>
    </div>
    <div class="filters">
      <article class="active">
        <div class="name">
          <b>Filtered by:</b>
        </div>
        <div class="result filterLabel">
          <p v-if="
            !renderStatus.countries&&
            !renderStatus.price&&
            !renderStatus.duration&&
            !renderStatus.departure&&
            !req.HasRail&&
            !req.HasCruises&&
            !req.HasHotelFlight&&
            !req.TourCode&&
            !req.continent&&
            !req.StartCity">
            Filters you have selected will appear here.
          </p>
          <label v-if="renderStatus.countries" v-on:click="resetCountries"><i class="icon-android-remove"></i><span>Countries</span></label>
          <label v-if="renderStatus.price" v-on:click="resetPrice"><i class="icon-android-remove"></i><span>Price</span></label>
          <label v-if="renderStatus.duration" v-on:click="resetDuration"><i class="icon-android-remove"></i><span>Duration</span></label>
          <label v-if="renderStatus.departure" v-on:click="resetDeparture"><i class="icon-android-remove"></i><span>Departure</span></label>
          <label v-if="req.TourCode"  v-on:click="resetHas('TourCode')"><i class="icon-android-remove"></i><span>TourCode</span></label>
          <label v-if="req.continent"  v-on:click="resetHas('continent')"><i class="icon-android-remove"></i><span>{{continentRef[req.continent]}}</span></label>
          <label v-if="req.StartCity"  v-on:click="resetStartCity"><i class="icon-android-remove"></i><span>{{req.StartCity}}</span></label>
          <label v-if="req.HasRail"  v-on:click="resetHas('HasRail')"><i class="icon-android-remove"></i><span>Rail</span></label>
          <label v-if="req.HasCruises"  v-on:click="resetHas('HasCruises')"><i class="icon-android-remove"></i><span>Cruises</span></label>
          <label v-if="req.HasHotelFlight"  v-on:click="resetHas('HasHotelFlight')"><i class="icon-android-remove"></i><span>Hotel flight</span></label>
        </div>
      </article>
      <article v-bind:class="renderShell.country?'active':''">
        <div class="name" v-on:click="toggleShell('country')">
          <b>Country</b>
          <i></i>
        </div>
        <div class="result">
          <ul>
            <li v-for="(c,index) of Country">
              <div class="StyleCheckbox">
                <input type="checkbox"><label v-bind:class="c.active?'active':''" v-on:click="toogleActive(c)"><b></b><span>{{c.name}}</span></label>
              </div>
            </li>
          </ul>
        </div>
      </article>
      <article class="active">
        <div class="name">
          <b>Price</b>
        </div>
        <div class="result">
          <component-slider-bar
            ref="priceBar"
            v-if="MaxPrice>0"
            :min="MinPrice"
            :max="MaxPrice"
            v-bind:step="5"
            v-on:change="changePrice"></component-slider-bar>
        </div>
      </article>
      <article class="active">
        <div class="name">
          <b>Duration</b>
        </div>
        <div class="result">
          <component-slider-bar
            ref="durationBar"
            v-if="MaxDuration>0"
            :min="MinDuration"
            :max="MaxDuration"
            v-bind:step="1"
            v-on:change="changeDuration"
            :prefix="''"></component-slider-bar>
        </div>
      </article>
      <article class="active">
        <div class="name">
          <b>Departure</b>
        </div>
        <div class="result" style="overflow:visible">
          <calendar-input ref="calendarInput" :multiple="true" v-on:select="changeDeparture" v-bind:initDate="initDate"></calendar-input>
        </div>
      </article>
      <article v-bind:class="renderShell.StartCity?'active':''">
        <div class="name" v-on:click="toggleShell('StartCity')">
          <b>Start city</b>
          <i></i>
        </div>
        <div class="result">
          <input type="text" name="" v-model="req.StartCity" placeholder="Enter start city" v-on:change="doSearch">
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'filter-component',
  props:{
    page:{
      default:{}
    }
  },
  data () {
    return {
      continentRef:['','Africa','Asia','Central America','Europe','Middle East','North America','Oceania','Polar','South America'],
      Country:[],
      MaxPrice:0,
      MinPrice:0,
      MaxDuration:0,
      MinDuration:0,
      req:{
        MaxPrice:0,
        MinPrice:0,
        MaxDuration:0,
        MinDuration:0,
        DepartureStartDate:null,
        DepartureEndDate:null,
        continent:null,
        TourCode:null,
        StartCity:null,
        HasRail:null,
        HasCruises:null,
        HasHotelFlight:null,
      },
      initDate:{
        calendar1:null,
        calendar2:null,
      },
      renderShell:{
        country:true,
        StartCity:false,
      },
      renderStatus:{
        countries:false,
        price:false,
        duration:false,
        departure:false,
        StartCity:false,
      }
    }
  },
  created(){
    for(let key in this.page){
      this.req[key] = this.page[key];
    }
    if(this.req.StartCity){
      this.renderShell.StartCity = true;
    }
    this.initDate.calendar1 = this.req.DepartureStartDate;
    this.initDate.calendar2 = this.req.DepartureEndDate;
  },
  mounted(){
    this.getfilter();
    this.doSearch();
  },
  methods:{
    getfilter(){
      mangoApi.post('package/filter',{}).then(res=>{
        this.Country = [];
        for(let c of res.data.data.Country){
          this.Country.push({name:c,active:false});
        }
        this.MaxPrice = res.data.data.MaxPrice;
        this.req.MaxPrice = res.data.data.MaxPrice;
        this.MinPrice = res.data.data.MinPrice;
        this.req.MinPrice = res.data.data.MinPrice;
        this.MaxDuration = res.data.data.MaxDuration;
        this.req.MaxDuration = res.data.data.MaxDuration;
        this.MinDuration = res.data.data.MinDuration;
        this.req.MinDuration = res.data.data.MinDuration;
        this.getFilterStatus();
      }).then(error=>{console.warn(error);})
    },
    toogleActive(target){
      target.active = !target.active;
      this.doSearch(); 
    },
    doSearch(){
      this.$emit('loading');
      this.getResult().then(res=>{
        this.$emit('search',res.data);
      }).catch(error=>{console.warn(error);})
      
    },
    changePrice(v){
      this.req.MinPrice = v.min;
      this.req.MaxPrice = v.max;
      this.doSearch();
    },
    changeDuration(v){
      this.req.MinDuration = v.min;
      this.req.MaxDuration = v.max;
      this.doSearch();
    },
    changeDeparture(v){
      this.renderStatus.departure = true;
      this.req.DepartureStartDate=v.calendar1?this.formatDate(v.calendar1):null;
      this.req.DepartureEndDate=v.calendar2?this.formatDate(v.calendar2):null;
      this.doSearch();
    },
    formatDate(date){
      return date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate();
    },
    resetCountries(){
      this.renderStatus.countries = false;
      for(let c of this.Country){
        c.active=false;
      }
      this.doSearch();
    },
    resetPrice(){
      this.renderStatus.price = false;
      this.req.MaxPrice = this.MaxPrice;
      this.req.MinPrice = this.MinPrice;
      this.$refs.priceBar.reset();
      this.doSearch();
    },
    resetDuration(){
      this.renderStatus.duration = false;
      this.req.MaxDuration = this.MaxDuration;
      this.req.MinDuration = this.MinDuration;
      this.$refs.durationBar.reset();
      this.doSearch();
    },
    resetDeparture(){
      this.renderStatus.departure = false;
      this.req.DepartureStartDate = null;
      this.req.DepartureEndDate = null;
      this.$refs.calendarInput.reset();
      this.doSearch();
    },
    resetStartCity(){
      this.req.StartCity = null;
      this.doSearch();
    },
    resetHas(has){
      this.req[has] = null;
      this.doSearch();
    },
    getFilterStatus(){
      this.renderStatus.countries = false;
      this.renderStatus.price = false;
      this.renderStatus.duration = false;
        this.renderStatus.StartCity = false;
      for(let c of this.Country){
        if(c.active==true){
          this.renderStatus.countries = true;
        }
      }
      if(this.MaxPrice!=this.req.MaxPrice||this.MinPrice!=this.req.MinPrice){
          this.renderStatus.price = true;
      }
      if(this.MaxDuration!=this.req.MaxDuration||this.MinDuration!=this.req.MinDuration){
          this.renderStatus.duration = true;
      }
      if(this.StartCity&&this.StartCity!=''){
          this.renderStatus.StartCity = true;
      }
    },
    getResult(){
      this.getFilterStatus();
      let Countries = [];
      for(let c of this.Country){
        if(c.active==true){
          Countries.push(c.name);
        }
      }
      let req = {
              HasRail:this.req.HasRail,
              HasCruises:this.req.HasCruises,
              HasHotelFlight:this.req.HasHotelFlight,
              // Destination: string,
              TourCode: this.req.TourCode,
              continent: this.req.continent,
              Filters: {
                Countries:(Countries.length>0)?Countries:null,
                MaxPrice: this.req.MaxPrice,
                MinPrice: this.req.MinPrice,
                MaxDuration: this.req.MaxDuration,
                MinDuration: this.req.MinDuration,
                DepartureStartDate: this.req.DepartureStartDate,
                DepartureEndDate: this.req.DepartureEndDate,
                StartCitys: this.req.StartCity,
              },
            }
      console.log(req);
      return mangoApi.post('package/search',req)
    },
    toggleShell(target){
      this.renderShell[target] = !this.renderShell[target]; 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
