<template>
  <div class="componentFullCalender">
    <div class="monthSelect">
      <i class="icon-angle-left" v-on:click="mPrev()"></i>
      <div ref="mBar">
        <ul>
          <li v-for="(m,index) of monthSelect" v-bind:class="m.active?'active':''" v-on:click="selecteMonth(index)"><span>{{monthArray[m.month]}} {{m.year}}</span></li>
        </ul>
      </div>
      <i class="icon-angle-right" v-on:click="mNext()"></i>
    </div>
    <div class="daySelect">
      <ul class="title">
        <li><span>MON</span></li>
        <li><span>TUE</span></li>
        <li><span>WED</span></li>
        <li><span>THU</span></li>
        <li><span>FRI</span></li>
        <li><span>SAT</span></li>
        <li><span>SUN</span></li>
      </ul>
      <ul class="date" v-if="monthSelect[currentSelectM]">
        <li v-for="week of monthSelect[currentSelectM].dateArray">
          <ul>
            <li v-for="date of week"
                v-on:click="selectDate(date)"
                v-bind:class="(date.active?' active':'')
                            + (date.isEmpty?' empty':'')
                            + (date.isOutRange?' outRange':'')
                            + (date.isStart?' start':'')
                            + (date.isEnd?' end':'')
                            + (date.selected?' selected':'')">
              <span>{{date.date}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FullCalender',
  props: {
    info:{
      default:()=>{
        return {
          PackageId:'4162C8B5-852D-E811-A84F-000D3AD1181D'
        }
      }
    }
  },
  data () {
    return {
      monthArray:['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
      proceed:1,
      currentDate:{
        day:new Date().getDay(),
        date:new Date().getDate(),
        month:new Date().getMonth(),
        year:new Date().getFullYear(),
      },
      selectedDate:{
        start:null,
        end:null,
      },
      mBar:{
        el:null,
        perWidth:null,
        totalWidth:null,
        visualWidth:null,
        index:0,
      },
      limitM:12,
      currentSelectM:0,
      monthSelect:[],
    }
  },
  mounted(){
    this.initCalender();
  },
  methods:{
    initCalender(){
      this.initMonth();
      this.initDate();
      this.expiredDate();
      this.selecteMonth(this.currentSelectM);
      setTimeout(()=>{this.mBarInit();},0);
    },
    initMonth(){
      for(let m = this.currentDate.month;m<this.limitM;m++){
        this.monthSelect.push({month:m,year:this.currentDate.year,active:(m==this.currentDate.month)?true:false}); 
      }
      for(let m = 0;m<this.currentDate.month;m++){
        this.monthSelect.push({month:m,year:this.currentDate.year+1,active:false});  
      }
    },
    initDate(){
      for(let m of this.monthSelect){
        m.dateArray = this.generateMonth(m);
      }
    },
    expiredDate(){
      for(let w of this.monthSelect[0].dateArray){
        for(let d of w){
          if(d.date<this.currentDate.date){
            d.isOutRange=true;
          }
        }
      }
      this.$forceUpdate();
    },
    generateMonth(m){
      let thisMonth;
      let totalDate = 0;
      let dateAry = [];
      if(m.month!=11){
        thisMonth = new Date(m.year+'/'+(m.month+1)+'/1');
        totalDate = (new Date(m.year+'/'+(m.month+2)+'/1').getTime() - thisMonth.getTime())/86400000;
      }else{
        thisMonth = new Date(m.year+'/12/1');
        totalDate = (new Date((m.year+1)+'/1/1').getTime() - new Date(m.year+'/12/1').getTime())/86400000;
      }
      let startDay = (thisMonth.getDay()==0)?7:thisMonth.getDay(); 
      let totalWeek = Math.ceil((totalDate+startDay-1)/7);
      this.proceed = 1;
      for(let i=1;i<=totalWeek;i++){
        dateAry.push(this.generateWeek(startDay,totalDate,i,totalWeek));
      }
      return dateAry;
    },
    generateWeek(s,t,nw,tw){
      let week = [];
      if(this.proceed==1){
        for(let i = 1;i<s;i++){
          week.push(this.generateDay(0));
        }
        for(let i = s;i<=7;i++){
          week.push(this.generateDay(this.proceed,t));
          this.proceed++;
        }
      }else if(nw==tw){
         for(let i = this.proceed;i<=t;i++){
          week.push(this.generateDay(this.proceed,t));
          this.proceed++;
        }
        for(let i = (this.proceed+s-1);i<=tw*7;i++){
          week.push(this.generateDay(0));
        }
      }else{
        for(let i = 0;i<7;i++){
          week.push(this.generateDay(this.proceed,t));
          this.proceed++;
        }
      }
      /*決定頭尾*/
      week[0].isStart=true;
      week[6].isEnd=true;
      return week;
    },
    generateDay(d,totalDate){
      if(d==0){
        return {date:null,isEmpty:true,isOutRange:true,active:false,selected:false}
      }else{
        return {
          date:d,isEmpty:false,isOutRange:false,active:false,
          selected:false,isStart:(d==1?true:false),isEnd:(d==totalDate?true:false)}
      }
    },
    selecteMonth(index){
      this.currentSelectM = index; 
      for(let m of this.monthSelect){
        m.active = false;
      }
      this.monthSelect[index].active = true;
      this.generateActiveDate();
      this.renderSelectDate(); 
    },
    selectDate(date){
      if(!date.active){return false;}
      this.$emit('selected',date.dateInfo);
      this.selectedDate.start = new Date(date.dateInfo.StartDateUTC);
      this.selectedDate.end = new Date(date.dateInfo.EndDateUTC);
      this.initCalender();
    },
    renderSelectDate(){
      if(!this.selectedDate.start){return false;}
      let cM = this.monthSelect[this.currentSelectM].month,
          cY = this.monthSelect[this.currentSelectM].year,
          sM = this.selectedDate.start.getMonth(),
          sY = this.selectedDate.start.getFullYear(),
          sD = this.selectedDate.start.getDate(),
          eM = this.selectedDate.end.getMonth(),
          eY = this.selectedDate.end.getFullYear(),
          eD = this.selectedDate.end.getDate();
      let cTm = new Date(cY+'/'+cM+'/1').getTime(),
          sTm = new Date(sY+'/'+sM+'/1').getTime(),
          eTm = new Date(eY+'/'+eM+'/1').getTime();
      /*同月份*/
      if(cTm==sTm&&cTm==eTm){
        for(let week of this.monthSelect[this.currentSelectM].dateArray){
          for(let day of week){
            if(day.date>sD&&day.date<eD){
              day.selected = true;
            }else if(day.date==sD){
              day.selected = true;
              day.isStart = true;
            }else if(day.date==eD){
              day.selected = true;
              day.isEnd = true;
            }
          }
        }
      }
      /*跨月份在前*/
      if(cTm==sTm&&cTm<eTm){
        for(let week of this.monthSelect[this.currentSelectM].dateArray){
          for(let day of week){
            if(day.date>sD){
              day.selected = true;
            }else if(day.date==sD){
              day.selected = true;
              day.isStart = true;
            }
          }
        }
      }
      /*跨月份在後*/
      if(cTm>sTm&&cTm==eTm){
        for(let week of this.monthSelect[this.currentSelectM].dateArray){
          for(let day of week){
            if(day.date!=null&&day.date<eD){
              day.selected = true;
            }else if(day.date==eD){
              day.selected = true;
              day.isEnd = true;
            }
          }
        }
      }
    },
    mBarInit(){
      this.mBar.el = this.$refs.mBar.querySelector('ul');
      this.mBar.perWidth = this.mBar.el.querySelector('li').clientWidth;
      this.mBar.totalWidth = this.mBar.perWidth*this.monthSelect.length;
      this.mBar.visualWidth = this.mBar.el.clientWidth;
    },
    mPrev(){
      if(this.mBar.index>0){
        this.mBar.index--;
        this.mBarTrans();
      }
    },
    mNext(){
      if(this.mBar.index*this.mBar.perWidth<this.mBar.totalWidth-this.mBar.visualWidth){
        this.mBar.index++;
        this.mBarTrans();
      }
    },
    mBarTrans(){
      this.mBar.el.style.transform = 'translateX(-'+this.mBar.index*this.mBar.perWidth+'px)'
    },
    generateActiveDate(){
      this.getActiveDate().then(res=>{
        for(let ad of res.data.data.data_list){
          this.setDateActive(ad);
        } 
      }).catch(error=>{console.log(error)});  
    },
    setDateActive(date){
      let startDate = new Date(date.StartDateUTC).getDate();
      for(let w of this.monthSelect[this.currentSelectM].dateArray){
        for(let d of w){
          if(d.date==startDate){
            d.dateInfo = date;
            d.active = true;
            this.$forceUpdate();
          }
        }
      }
    },
    getActiveDate(){
      return global.mangoApi.post('availabledate/search/',{
        PackageId:this.info.PackageId,
        Year:this.monthSelect[this.currentSelectM].year,
        Month:(this.monthSelect[this.currentSelectM].month+1)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.componentFullCalender{
  max-width: 1170px;
}
.componentFullCalender ul,
.componentFullCalender li{
  list-style: none;
  padding: 0;
  margin:0;
}
.componentFullCalender .monthSelect{
  display: flex;
  max-width: 100%;
  margin: 18px 0px;
  color: #6d6d6d;
  align-items: center;
}
.componentFullCalender .monthSelect i{
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
}
.componentFullCalender .monthSelect div{
  width: calc(100% - 60px);
  overflow: hidden;
  margin-top: 1px;
}
.componentFullCalender .monthSelect ul:after{
  content: '';
  display: table;
  clear: both;
}
.componentFullCalender .monthSelect ul {
  white-space: nowrap;
  width: calc(100%);
  transition: 0.3s;
}
.componentFullCalender .monthSelect ul li{
  width: calc(16.667% - 3px);
  display: inline-flex;
  justify-content: center;
}
.componentFullCalender .monthSelect ul li span{
  cursor: pointer;
  transition: 0.3s;
}
.componentFullCalender .monthSelect ul li.active span{
  color: #31beb2;
  cursor: pointer;
}
.componentFullCalender .daySelect{
  border: 1px solid #eee;
}
.componentFullCalender .daySelect .title{
  display: flex;
}
.componentFullCalender .daySelect .title li{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: #f5f5f5;
  padding: 14px 0;  
}
.componentFullCalender .daySelect .title li:not(:last-child){
  border-right: 1px solid #eee;
}
.componentFullCalender .daySelect .title li span{}
.componentFullCalender .daySelect .date ul li:not(:last-child){
  border-right: 1px solid #eee;
}
.componentFullCalender .daySelect .date > li:not(:last-child){
  border-bottom: 1px solid #eee;
}
.componentFullCalender .daySelect .date ul{
  display: flex;
}
.componentFullCalender .daySelect .date ul li{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px
}
.componentFullCalender .daySelect .date ul li.expired,
.componentFullCalender .daySelect .date ul li.outRange{
  background-color: #fbfbfb;
}
.componentFullCalender .daySelect .date ul li span{
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #999; 
    padding: 8px 0px;
    z-index: 10;
}
.componentFullCalender .daySelect .date ul li.active{
  cursor: pointer;
}
.componentFullCalender .daySelect .date ul li.active span:after{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #31beb2;
  border-radius: 50%;
  left: calc(50% - 2px);
  top: -4px;
}
.componentFullCalender .daySelect .date ul li.selected span:before{
  position: absolute;
  content: '';
  width: 100%;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #31beb2;
  z-index: -1;
}
.componentFullCalender .daySelect .date ul li.active.selected span:after{
  content: none;
}
.componentFullCalender .daySelect .date ul li.selected span{
  color: #fff;
}
.componentFullCalender .daySelect .date ul li.selected.start span:before{
  width: 85%;
  left: 15%;
  border-radius: 30px 0 0 30px;
}
.componentFullCalender .daySelect .date ul li.selected.end span:before{
  width: 85%;
  border-radius: 0 30px 30px 0;
}
.componentFullCalender .daySelect .date ul li.selected.start.end span:before{
  width: 70%;
  border-radius: 30px;
}
</style>
