<template>
  <div class="inputGroup">
    <input type="text" name="" v-model="inputValue"
           v-on:input="onChange"
           v-on:focus="display = true"
           v-bind:placeholder="placeholder"
           v-bind:required="required"
           v-on:blur="blur"
           autocomplete="false">
    <label v-if="useIcon" for="locate">
        <i class="icon-locate"></i>
    </label>
    <ul class="floatResult" v-if="display&&result.length>0">
      <li v-for="(r,i) of result" v-on:click="selectResult(i)">{{r}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'float-result-input',
  props:{
    value:{default:''},
    'use-icon':{
      default:false
    },
    placeholder:{
      default:''
    },
    required:{
      default:false
    },
    result:{default:()=>[]}
  },
  data () {
    return {
      display:false,
      inputValue:this.value,
    }
  },
  mounted(){
  },
  methods:{
    onChange(){
      this.$emit('change',this.inputValue);
    },
    selectResult(i){
      this.$emit('select',i);
    },
    blur(){
      this.$emit('blur');
      setTimeout(()=>{
        this.display = false;
        this.$forceUpdate();
      },200);
    }
  },
  watch:{
    value(val){
      this.inputValue = val;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
