<template>
  <div class="ComponentInputCalender" ref="InputCalender" v-on:click="isFocus = true">
    <input v-bind:class="isFocus?'active':''" type="text" name="" placeholder="Filter by Depature Date" v-model="dateText">
    <label v-if="useIcon" for="calendar">
      <i id="calendar" class="icon-calendar"></i>
    </label>
    <div v-show="isFocus" v-bind:class="'input-calendar '+align">
      <calendar ref="calendar" :multiple="multiple" v-on:select="dateSelect" v-bind:initDate="initDate"></calendar>
    </div>
  </div>
</template>
<script>
export default {
  name: 'InputCalender',
  props: {
    multiple:false,
    align:{
      default:'left'
    },
    useIcon:{
      default:true
    },
    initDate:{
      default:{
        calendar1:null,
        calendar2:null,
      }
    },
    format:{
      default:'dd/mm/yyyy', // 'dd/mm/yyyy','yyyy/mm/dd'
    }
  },
  data () {
    return {
      isFocus:false,
      dateText:'',
    }
  },
  mounted(){
    document.body.addEventListener('click',this.globalClick);
    this.initCalenderDate();
  },
  methods:{
    dateSelect(date){
      if(!this.multiple){
        this.$emit('select',date.calendar1);
        this.dateText = this.dateFormat(date.calendar1);
      }else{
        this.$emit('select',date);
        this.dateText = this.dateFormat(date.calendar1)+' - '+this.dateFormat(date.calendar2);
      }
    },
    dateFormat(date){
      if(!date){return ''}
      switch(this.format){
        case 'dd/mm/yyyy':
          return this.paddingTen(date.getDate())+'/'+this.paddingTen((date.getMonth()+1))+'/'+date.getFullYear();
        break;
        case 'yyyy/mm/dd':
          return date.getFullYear()+'/'+this.paddingTen((date.getMonth()+1))+'/'+this.paddingTen(date.getDate());
        break;
      }
    },
    initCalenderDate(){
      if(this.multiple){
        if(this.initDate.calendar1==null&&this.initDate.calendar2==null){return false}
      }else{
        if(this.initDate.calendar1==null){return false}
      }
      this.dateSelect({
        calendar1: this.initDate.calendar1?new Date(this.initDate.calendar1):null,
        calendar2: this.initDate.calendar2?new Date(this.initDate.calendar2):null,
      })
    },
    reset(){
      this.$refs.calendar.reset();
      this.dateText='';
    },
    paddingTen(n){
      if(n<10){
        return '0'+n;
      }else{
        return n;
      }
    },
    globalClick(e){
      let compare = this.$refs.InputCalender; 
      for(let el of e.path){
        if(el==compare){return false}
      }
      this.isFocus = false;
    }
  }
}
</script>
<style>
  .ComponentInputCalender{
    position: relative;
  }
  .ComponentInputCalender > input{
    pointer-events: none;
  }
  .ComponentInputCalender .input-calendar{
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      background-color: #fff;
      filter: drop-shadow(1px 1px 5px #0000001f);;
  }
  .ComponentInputCalender .input-calendar:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 8px 6.5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -8px;
    left: 15px;
  }
  .ComponentInputCalender .input-calendar.right{
    right: 0;
    left: auto;
  }
  .ComponentInputCalender .input-calendar.right:before{
    right: 15px;
    left: auto;
  }
</style>
