<template>
  <div class="quantityComponent">
    <i class="icon-android-remove" v-on:click="minus"></i>
    <input ref="numInput" type="number" name="quantity" v-model="Inputnum" v-on:change="changeResult">
    <i class="icon-android-add" v-on:click="plus"></i>
  </div>
</template>

<script>
export default {
  name: 'quantity-input',
  props:{
    num:{default:0},
    maximum:{default:100},
    minimum:{default:0},
  },
  data () {
    return {
      Inputnum:0,
      prevNum:0,
    }
  },
  mounted(){
    this.Inputnum = this.num;
    this.prevNum = this.num;
  },
  methods:{
   minus(){
    if(this.Inputnum-1>=this.minimum){
      this.changeResult(this.Inputnum-1);
    }
   },
   plus(){
    if(this.Inputnum+1<=this.maximum){
      this.changeResult(this.Inputnum+1);
    }
   },
   changeResult(num){
    if(typeof(num)=='number'){
      this.Inputnum = num;
      this.prevNum = num;
      this.$emit('change',this.Inputnum);
    }else{
      if(this.Inputnum>this.maximum||this.Inputnum<this.minimum){
        this.Inputnum = this.prevNum;
        return false;
      }
      this.prevNum = this.Inputnum;
      this.$emit('change',this.Inputnum);
    }
   },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.quantityComponent{
    position: relative;
    border: 1px solid #aaa;
    padding: 6px 0px;
    display: inline-block;
    overflow: hidden;
    color: #464646;
}
.quantityComponent i {
    position: absolute;
    padding: 3px 9px;
    line-height: 0.7;
    font-size: 0.9rem;
    cursor: pointer;
    height: calc(100% - 6px);
    display: flex;
    align-items: center;
    background-color: #fff;
}
.quantityComponent i:first-child {
    top: 0;
    left: 0;
}
.quantityComponent i:last-child {
    top: 0;
    right: 0;
    margin-top: -1px;
}
.quantityComponent input {
    font-size: 0.9rem;
    border: 0;
    width: 105px;
    text-align: center;
    padding-left: 17px;
    height: 18px;
    background-color: transparent;
}
</style>
