@font-face {
  font-family: "Didot";
  src:url("./fonts/Didot_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DidotB";
  src:url("./fonts/Didot_Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a{
  text-decoration: none;
  text-decoration-line: none;
  color: #31beb2;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
i.red{
  font-style: normal;
  color: #f00;
}
.bg-cover{
  background-size: cover;
  background-position: center;
}
:focus{
  outline: none;
}
.didot{
  font-family: DidotB,Didot;
}
.btn{
  display: inline-block;
  background-color: #31beb2;
  color: #fff;
  padding: 16px 20px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  border: 0;
  transition:0.3s;
  z-index: 0;
}
.btn:hover{
  background-color: #616161;
}
.btn.long{
  width: 300px;
  max-width: calc(100% - 40px);
}
.btn.rect{
  border-radius: 0;
}
.btn.long-mid{
  width: 180px;
  max-width: calc(100% - 40px); 
}

.btn.border{
  color: #31beb2;
  background-color: transparent;
  border:2px solid #31beb2;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}
.btn.border:before{
  content: '';
  position: absolute;
  top: -110%;
  left: -10%;
  width: 0%;
  height: 300%;
  z-index: -1;
  transform: rotate(-9deg);
  background-color: #31beb2;
  transition: 0.3s;
}
.btn.border:hover{
  color: #fff;
}
.btn.border:hover:before{
  width: 120%;
}
.btn.border.white{
  color: #fff;
  border-color:#fff;
}
.btn.border.white:before{
  background-color: #fff;
}
.btn.border.white:hover{
  color: #000;
}
 .hometitle{
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 30px;
}
.container{
  margin: auto;
  width: 1800px;
}
@media(max-width: 1800px){
  .container{
    margin: auto;
    width: 1400px;
  } 
}
@media(max-width: 1400px){
  .container{
    margin: auto;
    width: 1170px;
  } 
}
@media(max-width: 1200px){
  .container{
    margin: auto;
    width: 992px;
  } 
}
@media(max-width: 992px){
  .container{
    margin: auto;
    width: 768px;
  } 
}
@media(max-width: 768px){
  .container{
    margin: auto;
    width: 480px;
  } 
}
@media(max-width: 480px){
  .container{
    margin: auto;
    width: 92%;
    padding: 0 4%;
  } 
}

header{
  margin-top: 139px;}
header .headerWrapper{
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;}
header .headerWrapper .flexBlock{
  display: flex;
  justify-content: space-between;
  padding: 22px 0px;
}
header .headerWrapper .flexBlock .left{
  display: flex;
  align-items: center;
}
header .headerWrapper .flexBlock .left img{
  width: 300px
}
header .headerWrapper .flexBlock .left form{
  margin-left: 30px;
  position: relative;
}
header .headerWrapper .flexBlock .left input{
  border:0;
  padding:13px 15px;
  background-color: #f0f2f7;
  width:350px;
  border-radius:30px;
}
header .headerWrapper .flexBlock .left button{
  border:0; 
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size:1.2rem;
  color:#999;
}
header .headerWrapper .flexBlock .left button i{}
header .headerWrapper .flexBlock .right{}
header .headerWrapper .flexBlock .right a{
  display: flex;
  align-items: center;
}
header .headerWrapper .flexBlock .right i{
  font-size: 2.6rem;
  margin-right: 5px;
  margin-bottom: -11px;
}
header .headerWrapper .flexBlock .right div{
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .headerWrapper .flexBlock .right div span{
  font-size: 0.9rem;
  margin-bottom: 3px;}
header .headerWrapper .flexBlock .right div h3{}
header .menuBlock{
  background-color: #31beb2;}
header .menuBlock > div{
  position: relative;
  z-index: 10;
}
header .menuBlock .menuUl{
  display: flex;}
header .menuBlock .menuUl li{}
header .menuBlock .menuUl li a{
  color: #fff;
  padding: 17px 20px;
  display: block;
  font-size: 13px;
  font-weight: 600;
}
header .mobileHeader{
  display: none;
  background-color: #fff;
  border-bottom:1px solid #eee;
}
header .mobileHeader img{
  width: 230px;
  padding: 0 10px;
}
header .mobileHeader span{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height:60px;
}
header .mobileHeader i{
  font-size: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
@media(max-width: 1170px){
  header .menuBlock .menuUl li a{
    font-size: 0.8rem;
    padding: 24px 15px;
  }
  header .headerWrapper .flexBlock{
    padding: 17px 0;
  }
  header{
    margin-top: 142px;
  }
}
@media(max-width: 992px){
  header .headerWrapper .flexBlock .left img{
    width: 200px;
  }
  header .headerWrapper .flexBlock .left input{
    padding: 10px 15px;
    width: 260px;
  }
  header .headerWrapper .flexBlock .left button{
    top: 7px;
  }
  header .headerWrapper .flexBlock .right i{
    font-size: 1.8rem;
  }
  header .headerWrapper .flexBlock .right div span{
    font-size: 0.7rem;
  }
  header .menuBlock .menuUl li a{
    padding: 18px 13px;
  }
  header{
    margin-top: 136px;
  }
}
@media(max-width: 768px){
  header .pcHeader{
    display: none;
  }
  header .mobileHeader{
    display: flex;
  }
  header{
    margin-top: 60px;
  }
  header .menuBlock{
    position: fixed;
    width: 60%;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    transition: 0.3s;
    transform: translateX(100%);
    pointer-events: none;
  }
  header .menuBlock:after{
    content: '';
    position: absolute;
    width: 100vw;
    right: 0;
    height: 100vh;
    top: 0;
    z-index: 0;
  }
  header .menuBlock.active{
    transform: translateX(0%);
    pointer-events: all;
  }
  header .menuBlock .menuUl{
    flex-direction: column; 
  }
}
@media(max-width: 420px){
  header .mobileHeader img{
    width: 150px;
    padding: 0 10px;
  }
}
.inputGroup{
  margin-bottom: 20px;
  position: relative;
}
.inputGroup label{
  display: block;
  margin-bottom: 10px;}
.inputGroup input{
  width: calc(100% - 10px);
  padding: 7px 5px;
  border: 1px solid #d6d6d6;
  height: 16px;
}
.inputGroup .floatResult{
  position: absolute;
  z-index: 100;
  background-color: #fff;
  width: calc(100%);
  border: 1px solid #eee;
  overflow: auto;
  overflow-x: hidden;
  max-height: 200px;
  box-shadow: 0px 2px 13px #00000026;
  top: 22px;
}
.inputGroup .floatResult li{
  padding: 11px 10px!important;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.inputGroup .floatResult li:hover{
  background-color: #eee;
}
.inputGroup textarea{
  width: calc(100% - 10px);
  padding: 7px 5px;
  border: 1px solid #d6d6d6;
  height: 70px; 
}
.inputGroup .forgot{
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;}
.inputGroup select{
  width: 100%;
  display: block;
  border: 1px solid #d6d6d6;
  height: 32px;
  padding: 0 8px;
}
.inputGroup .combo{
  height: 30px;
  display: flex;}
.inputGroup .combo.select{
  border: 1px solid #d6d6d6;}
.inputGroup .combo.select select{
  width: 100px;
  border: 0;
  height: 30px;}
.inputGroup .combo.select input{
  border: 0;}
.inputGroup.birth{
  display: flex
}
.inputGroup.birth input{
  flex:2;
}
.inputGroup.birth input:nth-child(3){
  flex:3;
}
.inputGroup.birth input:nth-child(2){
  border-right:0;
  border-left:0;
}
.float_col2 > div{
  float: left;
  width: 46%;
  margin-right: 4%;
}
.portalLogin{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;}
.portalLogin .Frame{
  display: flex;
  max-width: 900px;
  width: 100%;
  box-shadow: 1px 1px 18px #0000006b;
}
.portalLogin .Frame > div article{
  padding: 30px;
  width: calc(100% - 60px);}
.portalLogin .Frame .left{
  display: flex;
  align-items: center;}
.portalLogin .Frame.login .left{
  width: 33.333%;
  height: 400px;
}
.portalLogin .Frame.register .left{
  width: 27%;
}
.portalLogin .Frame .left .textBlock{
  color: #fff;}
.portalLogin .Frame .left .textBlock h3{
  font-size: 1.3rem;
  margin-bottom: 18px;}
.portalLogin .Frame .left .textBlock p{
  letter-spacing: 1px;
  line-height: 1.4;
}
.portalLogin .Frame.login .left .btnBlock{
  margin-top: 50px;
}
.portalLogin .Frame.register .left .btnBlock{
  margin-top: 100px;
}
.portalLogin .Frame .right{
  background-color: #fff;
}
.portalLogin .Frame.login .right{
  width: 66.666%;
}
.portalLogin .Frame.register .right{
  width: 73%;
}
.portalLogin .Frame .right h3{
  margin: 20px 0;}
.portalLogin .Frame.login .right form{
  max-width: 400px;
}

.homeSlider{}
.homeSlider ul{}
.homeSlider ul li{}
.homeSlider ul li article{
  height: 500px;
}
.homeSlider .layout1{
  background-size:cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.homeSlider .layout1 h2{
  font-size: 3rem;}
.homeSlider .layout1 p{
  font-size: 1.4rem;}

.homeBooking{
  margin: 40px 0 50px;}
.homeBooking .container > article{
  padding: 30px 10px 40px;
  box-shadow: 1px 3px 12px #00000030;
}
.homeBooking .filter{
  max-width: 880px;
  margin: auto;
  display: flex;}
.homeBooking .filter div{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#31beb2;
  position: relative;
  cursor: pointer;
}
.homeBooking .filter div:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 2px;
  background-color:#31beb2;
}
.homeBooking .filter div:last-child:after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 2px;
  background-color:#31beb2; 
}
.homeBooking .filter div i{
  font-size: 4rem;
  margin-bottom: -3px;}
.homeBooking .filter div span{
  text-align: center;
}
.homeBooking .form{
  width: 94%;
  display: flex;
  margin: 50px auto 45px;}
.homeBooking .form > div{
  width: 30%;
  margin: 0 2%;
  background-color: #f0f2f7;
  padding: 6px 14px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.homeBooking .form div label{
  display: inline-block;
  margin-bottom: -5px;
}
.homeBooking .form div i{
  font-size: 1.8rem;
  color: #31beb2;
  transition: 0.3s;
}
.homeBooking .form div input{
  border: 0;
  background-color: transparent;
  width: 90%;
  margin-left: 5%;}
.homeBooking .form div input:focus + label i,
.homeBooking .form div input.active + label i{
  color: #999;
  font-size: 1.3rem;
}
.homeBooking .buttonBlock{
  text-align: center;}
@media(max-width:768px){
  .homeBooking .filter div:after,
  .homeBooking .filter div:before{
    content: none!important;
  }
  .homeBooking .form{
    flex-direction: column;
    margin: 35px auto 15px;
  }
  .homeBooking .form div{
    width: 94%;
    margin: 0;
    margin: 0 0 14px 0;
  }
}

.homeDealNOffer{
  margin-bottom: 20px;
}
.homeDealNOffer .DealNOffer .single{
  width: calc(33.3333% - 10px);
  height: 380px;
  background-size: cover;
  background-position: center;}
.homeDealNOffer .DealNOffer .double{
  width: calc(66.6666% - 5px);
  height: 380px;
  background-size: cover;
  background-position: center;}
.homeDealNOffer .DealNOffer article{
  display: flex;
}
.homeDealNOffer .DealNOffer article a{
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  transition: 0.5s;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.homeDealNOffer .DealNOffer article:hover a{
  background-color: #00000096;
}
.homeDealNOffer .DealNOffer article .flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  transform: translateY(-110px);
}
.homeDealNOffer .DealNOffer article:hover .flex{
  transform: translateY(0px);
}
.homeDealNOffer .DealNOffer article a > div{
  width: calc(100% - 70px);
    margin: 35px;
    max-width: 880px;
    position: relative;
    height: calc(100% - 70px);
    overflow: hidden;
}
.homeDealNOffer .DealNOffer article .flex i{
  font-size: 2.9rem;
  margin-right: 20px;}
.homeDealNOffer .DealNOffer article .flex span{
  color: #31beb2;
  font-size: 1.5rem;}
.homeDealNOffer .DealNOffer article .bottom{
  position: absolute;
  bottom: 35px;
  width: 100%;
  transition: 0.3s;
  transform: translateY(110px);
}
.homeDealNOffer .DealNOffer article .bottom h3{
  font-size: 2rem;
  margin-bottom: 9px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.homeDealNOffer .DealNOffer article .bottom p{
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
    transform: translateY(30px);
}
.homeDealNOffer .DealNOffer article .bottom div{
  transition: 0.4s;
    transform: translateY(60px);  
}
.homeDealNOffer .DealNOffer article:hover .bottom,
.homeDealNOffer .DealNOffer article:hover .bottom p,
.homeDealNOffer .DealNOffer article:hover .bottom div{
  transform: translateY(0px);
}
.homeDealNOffer .DealNOffer article .bottom span{
  padding: 5px 13px;
  margin-right: 20px;
  border: 1px solid #ffffffa6;
  display: inline-block;}
.homeDealNOffer .DealNOffer > div{
  display: flex;
  justify-content: space-between;
}

.homeDealNOffer .col1st{
  margin-bottom: 15px;
}
@media(max-width: 1800px){
  .homeDealNOffer .DealNOffer article.single .flex i{
    font-size: 2rem;
  }
  .homeDealNOffer .DealNOffer article .flex span{
    font-size: 1.2rem;
  }
}
@media(max-width: 1170px){
  .homeDealNOffer .DealNOffer article .bottom div{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .homeDealNOffer .DealNOffer article .bottom span{
    padding: 5px 8px;
    margin-right: 3px;
    margin-bottom: 5px;
    font-size: 0.7rem;
  }
  .homeDealNOffer .DealNOffer article .flex span{
    font-size: 1rem;
  }
}
@media(max-width: 768px){
  .homeDealNOffer .DealNOffer > div{
    flex-direction: column;
  }
  .homeDealNOffer .DealNOffer .single{
    width: calc(100%);
  }
  .homeDealNOffer .DealNOffer .double{
    width: calc(100%);
  }
  .homeDealNOffer .col1st{
    margin:0;
  }
  .homeDealNOffer .DealNOffer article .flex i{
    font-size: 2rem;
  }
}
@media(max-width: 480px){
  .homeDealNOffer .DealNOffer article .flex{
    flex-direction: column;
    align-items: flex-start;
  }
}
.homeVideo{
  margin-top: 80px;
}
.homeVideo .videoBlock{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.homeVideo .videoBlock article{
  width: calc(33.3333% - 15px);
  background-color: #fff;
  box-shadow: 1px 2px 10px #00000030;
}
.homeVideo .videoBlock article a{}
.homeVideo .videoBlock article a .photofix{
  position: relative;
  height: 280px;
  overflow: hidden;
}
.homeVideo .videoBlock article a .photofix img{
  transition: 1s;
}
.homeVideo .videoBlock article:hover a .photofix img{
  transform: scale(1.1)rotate(1deg)translateZ(0);
}
.homeVideo .videoBlock article a .photofix i{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 29px;
    font-size: 2.4rem;
    line-height: 0.7;
    transition: 0.5s;
    bottom: 7px;
}
.homeVideo .videoBlock article:hover a .photofix i{
  transform: scale(1.3)translateZ(0px)translateX(10px);
}

.homeVideo .videoBlock article a .content{
  height: 150px;
  transition: 0.3s;
}
.homeVideo .videoBlock article a .content h4{
  padding: 20px;
  font-size: 1.7rem;
  color: #000;
  transition:0.3s;
}
.homeVideo .videoBlock article:hover a .content h4{
  color: #31beb2;
}
.homeVideo .videoBlock article:hover a .content{
  background-color: #f5f5f5;
}

.homePackages{
  /*margin-bottom: 40px;*/
}
.homePackages .tabsUl{
  display: flex;
  max-width: 992px;
  margin: auto;
  justify-content: center;
  margin-bottom: 26px;}
.homePackages .tabsUl li{
  text-align: center;}
.homePackages .tabsUl li span{
  font-size: 18px;
  font-weight: 600;
  padding: 3px 14px;
  display: inline-block;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  margin: 0 2px;
}
.homePackages .tabsUl li span:before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s;
  transform: translateY(20px)translateZ(0)scale(0);
}
.homePackages .tabsUl li:hover span:before{
  transform: translateY(0)translateZ(0)scale(1);
  background-color: #eee;

}
.homePackages .tabsUl li.active span:before{
  transform: translateY(0)translateZ(0)scale(1);
  background-color: #31beb2;
}
.homePackages .tabsUl li.active span{
  color: #fff;
}
.homePackages .tabsContent{}
.homePackages .tabsContent .flexBlock{
  display: flex;
  max-width: 768px;
  margin: auto;}
.homePackages .tabsContent .flexBlock .photofix{
  width: 30%;
  height: 125px;
}
.homePackages .tabsContent .flexBlock .info{
  width: 70%;
  padding: 20px;
  height: 85px;
  background-color: #eeeeee;}
.homePackages .tabsContent .flexBlock .info p{
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.homePackages .map svg{
  max-width: 768px;
  width: 100%;
  display: block;
  margin: 30px auto 0;
}
.homePackages .map svg path,
.homePackages .map svg polygon{
  fill:#d3d3d3; 
  stroke:#fff;
  stroke-width:0.5px;
  transition: 0.3s;
}
.homePackages .map svg .active path,
.homePackages .map svg .active polygon{
  fill:#31beb2; 
}
@media(max-width: 768px){
  .homePackages .tabsUl{
    display: none;
  }
}
.homeContact{
  background-size: cover;
  position: relative;}
.homeContact .bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.homeContact .container{
  position: relative;
}
.homeContact h2{
  padding-top: 60px;
  color: #fff;}
.homeContact p{
  text-align: center;
  font-size: 1rem;
  color: #fff;
  max-width: 992px;
  margin: auto;}
.homeContact form{
  max-width: 660px;
  margin: auto;
  padding: 45px 0;}
.homeContact form .col{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;}
.homeContact form .col input{
  width: calc(50% - 40px);
  border: 0;
  padding: 15px;}
.homeContact form select{
  display: block;
  width: 100%;
  padding: 14px 14px;
  margin-bottom: 20px;
  border: 0;}
.homeContact form textarea{
  width: calc(100% - 40px);
  padding: 20px;
  border: 0;
  height: 125px;}
.homeContact form .btnBlock{
  text-align: center;
  margin: 60px 0 50px;} 
.homeBrand{
  padding: 20px 0;
  background-color: #f4f4f4;
}
.homeBrand ul{
  display: flex;
  justify-content: space-around;
}
.homeBrand ul li{
  max-width: 200px;
  height: 60px;
}
.homeBrand ul li img{
  max-width: 100%;
  max-height: 100%;
}
footer{
  border-bottom: 8px solid #31beb2;
}
footer .flexBlock{
  display: flex;
  padding: 45px 0 100px;
}
footer .flexBlock article{
  flex: 1

}
footer .flexBlock .logo{
}
footer .flexBlock .logo img{
  max-width:300px 
}
footer .flexBlock .contact{
}
footer .flexBlock .contact p{
  line-height: 2;
  margin-bottom: 10px;}
footer .flexBlock .contact p i{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -5px;
  font-size: 1.2rem;
  margin-right: 3px;}
footer .flexBlock .contact div{}
footer .flexBlock .contact div a{}
footer .flexBlock .social{
}
footer .flexBlock .social div{
  max-width: 210px;
  display: flex;
  justify-content: space-around;}
footer .flexBlock .social div a{
  font-size: 2.7rem;
  color: #484848;}
footer .flexBlock .social div a i{}
footer .flexBlock .social p{}
@media(max-width: 1170px){
  footer .flexBlock .logo img{
    max-width: 90%
  }
}
@media(max-width:768px){
  footer .flexBlock{
    flex-direction: column;
    text-align: center;
  }
  footer .flexBlock .social div{
    margin: auto;
  }
  footer .flexBlock .social{
    margin-top: 15px;
  }
}

.itineraryPage .topbanner{
  height: 450px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column; 
}
.itineraryPage .topbanner h1{
  color: #fff;
  font-size: 3rem;
  margin-bottom: 35px;
  text-align: center;
}
.itineraryPage .topbanner .btn{
  border-radius: 3px;
  padding: 12px 30px;}
.itineraryPage .iNav{
  height: 68px;
}
.itineraryPage .iNav .iNavWrapper{
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}
.itineraryPage .iNav.active .iNavWrapper{
  position: fixed;
    z-index: 99;
}
.itineraryPage .iNav .iNavWrapper ul{
  display: flex;
  max-width: 768px;
  margin: auto;
  justify-content: space-around;}
.itineraryPage .iNav .iNavWrapper ul li{
  text-align: center;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.itineraryPage .iNav.active .iNavWrapper ul li{
  padding: 16px 0;
}
.itineraryPage .iNav .iNavWrapper ul li span{
  font-variant-caps: unicase;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s;
}
.itineraryPage .iNav .iNavWrapper ul li.active span{
  color: #31beb2;
}
.itineraryPage .overview{
  padding: 40px 0 30px;
}
.itineraryPage .overview .flex{
  display: flex;
}
.itineraryPage .overview .flex > article:first-child{
  flex: 5; 
}
.itineraryPage .overview .flex > article:last-child{
  flex: 5; 
}
.itineraryPage .overview .iconBlock{}
.itineraryPage .overview .iconBlock > div{
  border: 1px solid #f5f5f5;}
.itineraryPage .overview .iconBlock > div > div:first-child{
  background-color: #f5f5f5;
  padding: 35px;}
.itineraryPage .overview .iconBlock > div > div:last-child{
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;}
.itineraryPage .overview .iconBlock > div > div:last-child > p{
  min-width: 30%;
  text-align: center;

}
.itineraryPage .overview .iconBlock > div > div:last-child > p span{
  color: #32beb3;
  font-size: 1.2rem;

}
.itineraryPage .overview .iconBlock ul{
  display: grid;
  grid: auto / 1fr 1fr;}
.itineraryPage .overview .iconBlock ul li{
  align-items: center;
  display: flex;
  padding-bottom: 10px;}
.itineraryPage .overview .iconBlock ul li i{
  font-size: 3rem;}
.itineraryPage .overview .iconBlock ul li span{
  font-size: 1.3rem;
  margin-left: 15px;
  margin-bottom: 15px;}
.itineraryPage .overview .iconBlock > p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
.itineraryPage .highlight{
  display: flex;
  justify-content: flex-end;
  min-height: 400px;
}
.itineraryPage .highlight .right{
  background-color: rgba(0,0,0,0.3);
  min-width: 50%;
}
.itineraryPage .highlight .right > article{
  padding: 35px;
}
.itineraryPage .highlight .right > article > div{
  margin-bottom:40px; 
}
.itineraryPage .highlight h3{
  color: #31beb2;
  font-size: 1.2rem;
  margin-bottom: 12px; 
}
.itineraryPage .highlight ul{}
.itineraryPage .highlight ul li{
  color: #f2f2f2;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 1px; 
}
.itineraryPage .trip{
  padding:50px 0; 
}
.itineraryPage section.price{
    padding-bottom: 60px;
}
.itineraryPage section.price .titleBlock{
  background-color: #eee;
  padding: 25px 0;
}
.itineraryPage section.price .contentBlock{
  padding: 20px 0;
}
@media(max-width: 768px){
  .itineraryPage .iNav{
    display: none;
  }
  .itineraryPage .overview .flex{
    flex-direction: column;
  }
  .itineraryPage .overview .flex > article:first-child{
    flex: none;
    margin-bottom: 40px;
  }
  .itineraryPage .overview .flex > article:last-child{
    flex: none;
  }
  .itineraryPage .overview .iconBlock ul li span{
    font-size: 18px;
  }
}
@media(max-width: 480px){
  .itineraryPage .overview .iconBlock ul{
    grid-gap:20px;
  }
  .itineraryPage .overview .iconBlock ul li span{
    font-size: 15px;
  }
  .itineraryPage .overview .iconBlock ul li i{
    font-size: 30px;
  }
  .itineraryPage .overview .iconBlock ul li{
    padding: 0;
  }
  .itineraryPage .overview .iconBlock > div > div img{
    height: 35px;
  }
  .itineraryPage section.price{
    padding: 0;
  }
}

.priceUl{}
.priceUl > li{
    padding: 25px 0;
    border-bottom: 1px solid #bfbfbf; 
}
.priceUl > li:last-child{
    border-bottom: 0; 
}
.priceUl ul{
  display: flex;
}
.priceUl ul li{
  flex:1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceUl ul li.empty{
  flex:0.3;
}
.priceUl ul li.start{
}
.priceUl ul li.duration{
  display: flex;
  align-items: center;
}
.priceUl ul li.book{
  justify-content: flex-end;
}
.priceUl h4{
  font-size: 20px;
  white-space: nowrap;
  height: 25px;
}
.priceUl h4 span{
  color: #999;
}
.priceUl p{
  display: inline-block;
  height: 19px;}
.priceUl p.del{
  position: relative;
}
.priceUl p.del:after{
    position: absolute;
    content: '';
    width: 102%;
    height: 1px;
    background-color: #f00;
    top: 8px;
    left: -1%;
}

.componentExtandUl{
  display: flex;
  margin-bottom: 20px; 
}
.componentExtandUl > li:first-child{
  width: 135px;
}
.componentExtandUl > li:last-child{
  width: calc(100% - 135px);
}
.componentExtandUl > li > ul{
  overflow: hidden;
  transition: 0.5s;
}
.componentExtandUl > li > ul > li{
  display: flex;
  margin-bottom:5px; 
}
.componentExtandUl > li > ul > li i{
    height: 1rem;
  width: 30px;
  display: flex;
  align-items: center;
}
.componentExtandUl > li > span{
  padding-left: 30px;
  color: #31beb2;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.componentExtandUl > li > span:after{
    content: ">";
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    transform: scaleY(0.5)rotate(90deg);
    font-size: 27px;
    top: 0;
    right: -23px;
    transition: 0.3s;
}
.componentExtandUl.active > li > span:after{
    transform: scaleY(0.5)rotate(-90deg);
}
.componentshellGroup{}
.componentshellGroup ul{
  padding-top: 15px;
}
.componentshellGroup ul li:first-child{
  display:flex;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}
.componentshellGroup ul li:first-child:after{
    content: '';
    position: absolute;
    width: 0%;
    background-color: #000;
    height: 1px;
    left: -10%;
    top: 10px;
    transition: 0.7s;
}
.componentshellGroup ul.active li:first-child:after{
    width: 10%;
}
.componentshellGroup ul li:first-child i{
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 35px;
}
.componentshellGroup ul li:first-child i:before{
  transform: rotate(90deg);
  transition:0.5s;
}
.componentshellGroup ul.active li:first-child i:before{
  transform: rotate(-90deg);
}
.componentshellGroup ul li:first-child h3{
  font-size: 19px;
}
.componentshellGroup ul li:last-child{
  margin-left: 35px;
  transition: 1s;
  overflow: hidden;
}
.componentshellGroup ul li:last-child .editor{
  margin-bottom: 15px;
}
.componentshellGroup ul li:last-child .editor p{
  font-size: 14px;
  line-height: 1.6;
}
.componentshellGroup ul li:last-child > img{
  margin-top: 15px;
  max-width: 100%;
  display: block;}
.componentshellGroup .printBtn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: -30px; 
}
.componentStar{}
.componentStar i{
  color: #ccc;
}
.componentStar i.active{
  color: #31beb2;
}
.fullyTitle{
  height: 110px;
  display: flex;
  align-items: center;
  background-color: #ededed;
}
.fullyTitle h1{
  font-size: 2.1rem;
}
.fullyTitle .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.StyleCheckbox{}
.StyleCheckbox input{
  display: none;}
.StyleCheckbox input + label{
  display: flex;
  align-items: center;}
.StyleCheckbox input + label b{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background-color: #f5f4f5;
  border: 1px solid #d9d9d9;
}
.StyleCheckbox input + label span{
  font-size: 15px;
  padding-left: 11px;
  color: #6a6a6a;}
.StyleCheckbox input + label b:after{
  content: '';
  display: block;
  height: 9px;
  width: 9px;
  background-color: #b9b9b9;
  transform: scale(0)translateZ(0);
  transition: 0.3s;
}
.StyleCheckbox label.active b:after,
.StyleCheckbox input:checked + label b:after{
  transform: scale(1)translateZ(0);
}
.componentSliderBar{}
.componentSliderBar .bar{
  display: block;
  position: relative;
  width: calc(100% - 20px);
  height: 4px;
  background-color: #f0f0f0;
  margin: 20px auto;
}
.componentSliderBar .bar .range{
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: #31beb2;
}
.componentSliderBar .bar b{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border:1px solid #d8d8d8; 
  border-radius: 50%;
  margin-top:-9px;
  box-shadow: 0px 0px 4px #0000001a;
  cursor: col-resize;
  z-index: 10;
}
.componentSliderBar .bar b.active {
  z-index: 11;
}
.componentSliderBar .bar b:before{
  position: absolute;
  content: '';
  width: 220px;
  height: 220px;
  top: -90px;
  left: -90px;
  z-index: 10;
}
.componentSliderBar .bar b:first-child{
  left: -10px;
}
.componentSliderBar .bar b:last-child{
  right: -10px;  
}
.componentSliderBar .text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #999;
  padding-bottom: 4px; 
}

.componentpagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.componentpagination i{
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  color: #000;
}
.componentpagination span{
  margin: 0;
}


@media(max-width: 768px){
  .componentshellGroup .printBtn{
    justify-content: center;
    margin-bottom: 20px;
  }

  .itineraryPage section.price .titleBlock .priceUl ul li.price,
  .itineraryPage section.price .titleBlock .priceUl ul li.book{
    display: none;
  }
  .itineraryPage section.price .titleBlock,
  .itineraryPage section.price .titleBlock .priceUl > li:last-child,
  .itineraryPage section.price .contentBlock{
    padding: 0;
  }
  .itineraryPage section.price .titleBlock .priceUl{
    padding: 10px 0;
  }
  .itineraryPage section.price .titleBlock{
    margin-bottom: -15px; 
  }
  .itineraryPage section.price .titleBlock .priceUl ul li.duration{
    margin-left: 5px; 
  }
  .priceUl ul{
    display: grid;
    grid: auto/ 1fr 1fr 1fr;
    grid-gap: 15px 0;
  }
  .priceUl ul li.empty{
    display: none;
  }
  .priceUl ul li.start{}
  .priceUl ul li.duration{
    justify-content: flex-start;
  }
  .priceUl ul li.price{
    justify-content: flex-start;
  }
  .priceUl ul li.price img{
    margin-left: 10px; 
  }
  .priceUl ul li.book{
    grid-area: 2 / 2 / 2 / 4;
  }
}
@media(max-width: 480px){
   .componentExtandUl > li:first-child{
    width: 110px;
  }
  .priceUl ul li.book .btn{
    padding: 10px 20px;
  }
}
@media(max-width: 400px){
  .priceUl h4{
    font-size: 16px;
  }
  .priceUl p{
    font-size: 14px;
  }
  .priceUl ul li.price img{
    width: 35px;
    margin-right: -5px;
  }
}
.travelPackageList{
}
.travelPackageList .searchList{
  background-color: #f5f4f5;
}
.travelPackageList .searchList .flex{
  display: flex;
    /*padding-bottom: 120px;*/
}
.travelPackageList .searchList .flex .right{
  width: 20%;
  margin-right: 30px;
}
.travelPackageList .searchList .flex .left{
  width: calc(80% - 30px);
}
.travelPackageList .searchList .blockResult{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px
}
.travelPackageList .searchList .blockResult b{}
.travelPackageList .searchList .blockResult span{
  margin-left: 5px;
}
.travelPackageList .searchList .blockResult .TextBtn{
  font-weight: bold;
  color: #31beb2;
  cursor: pointer;
}
.travelPackageList .searchList .filters{}
.travelPackageList .searchList .filters article{
  background-color: #fff;
  padding: 10px;
  margin-bottom: 17px
}
.travelPackageList .searchList .filters article p{
  color: #cdcdcd;}
.travelPackageList .searchList .filters article .name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.travelPackageList .searchList .filters article .name i{
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
}
.travelPackageList .searchList .filters article .name i:before,
.travelPackageList .searchList .filters article .name i:after{
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  top: 6px;
  background-color: #626262;
  transition:0.3s;
}
.travelPackageList .searchList .filters article .name i:after{
  opacity: 0;
}
.travelPackageList .searchList .filters article.active .name i:after{
  transform: rotate(90deg);
  opacity: 1;
}
.travelPackageList .searchList .filters article .result{
  overflow: hidden;
  height: 0;
}
.travelPackageList .searchList .filters article.active .result{
  height: auto;
}
.travelPackageList .searchList .filters article .result:before{
  margin-top: 10px;
    border-top: 1px solid #eee;
    content: '';
    padding: 10px 0 0;
    display: block;
}
.travelPackageList .searchList .filters .result > ul li{
  margin: 12px 0px;
  margin-left: 2px;
}
.travelPackageList .searchList .grid{
  display: grid;
  grid-gap: 30px;
  grid: auto / calc(33.333% - 20px) calc(33.333% - 20px) calc(33.333% - 20px);
  min-height: 390px;
}
.travelPackageList .searchList .grid .loadingComponent.inserted{
  z-index: 99;
}
.travelPackageList .searchList .grid article{
  background-color: #fff;
  border: 1px solid #eee;
  transition:0.3s;
}
.travelPackageList .searchList .grid article:hover{
  border: 1px solid #31beb2;
}
.travelPackageList .searchList .grid article .photofix{
  height: 200px;
}
.travelPackageList .searchList .grid article .photofix .layout{
  position: absolute;
  width: calc(100% - 20px);
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.65) 100%);
    transform: translateY(100%)translateZ(0);
    transition: 0.5s;
    opacity: 0;
}
.travelPackageList .searchList .grid article:hover .photofix .layout{
    opacity: 1;
    transform: translateY(0)translateZ(0);
}
.travelPackageList .searchList .grid article .photofix .layout i{
  font-size: 1.7rem;
  margin-right: 10px; 
}
.travelPackageList .searchList .grid article .des{
  border-top: 3px solid #31beb2;}
.travelPackageList .searchList .grid article .des > div{
  padding: 15px
}
.travelPackageList .searchList .grid article .des h3{
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 4px;}
.travelPackageList .searchList .grid article .des p{
  color: #31beb2;
  height: 39px;
  border-bottom: 1px solid #eee;
  margin-bottom: 18px;}
.travelPackageList .searchList .grid article .des .labelBlock{
  margin-bottom: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
.travelPackageList .searchList .grid article .des .labelBlock label{
  display: inline-block;
  padding: 5px 5px;
  color: #31beb2;
  border: 1px solid #31beb2;
  margin-right: 4px;}
.travelPackageList .searchList .grid article .des h4{
  color: #31beb2;}
  .bookingPage{
  background-color: #f5f4f5;
  padding: 40px 0;}
.bookingPage .grid{
  display: grid;
  grid: auto auto auto auto / calc(75% - 20px) 25%;
  grid-gap: 20px;
}
.bookingPage .grid .card{
  padding: 20px;
  background-color: #fff;}
.bookingPage .grid .stepBlock{
  grid-area: 1 / 1;}
.bookingPage .grid .stepBlock article{
  display: flex;
  max-width: 768px;
  justify-content: space-between;
  padding: 10px 40px;}
.bookingPage .grid .stepBlock div{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #888;
  position: relative;
  width: 20%;}
.bookingPage .grid .stepBlock div i{
  font-size: 2rem;
  height: 2.4rem;
}
.bookingPage .grid .stepBlock div:not(:first-child):before{
  content: "................";
  display:flex;
  position: absolute;
  left: -100%;
  width: 100%;
  overflow: hidden;
  letter-spacing: 3px;
  top: 6px;
}
.bookingPage .grid .stepBlock div.active{
  color: #31beb2;
}
.bookingPage .grid .stepBlock div span{
  display: block;
  margin-top: 14px;
  font-size: 15px;
  white-space: nowrap;}
.bookingPage .grid .mainBlock{
  grid-area: 2 /1 / 5;}
.bookingPage .grid .description{
  grid-area: 1 / 2 / 3;
  position: sticky;
  top: 170px;
}

.bookingPage .grid .description h3{}
.bookingPage .grid .description hr{
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  margin: 10px 0;}
.bookingPage .grid .description ul li{
  margin-bottom: 6px;}
.bookingPage .grid .description h4{}
.bookingPage .grid .description h5{
  font-size: 1rem;
  margin-bottom: 1px;}
.bookingPage .grid .description p{
  color: #737373;}
.bookingPage .grid .description article{
  margin-top:8px; 
}
.bookingPage .grid .description article p{
  margin-top:5px; 
}
.bookingPage .grid .description i{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  padding: 5px;
  cursor: pointer;
}
.bookingPage .grid .description .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;}
.bookingPage .grid .description .subtotal{
  min-height:200px; 
}
.bookingPage .grid .description .green{
  color: #31beb2;}
.bookingPage .grid .description h2{}
.bookingPage .grid .description .greenBlock{
  margin: 12px -20px -20px;
  padding: 15px 20px;
  background-color: #31beb2;
  color: #fff;}
  .bookingPage .btnBlock{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.bookingPage .btn{
  border-radius: 0;
  width: 100px;
    padding: 14px 20px;
}
.bookingPage .AccommodationBlock{
  display: grid;
  grid: auto / 1fr 1fr;
}
.bookingPage .bookInputBlock{
  display: flex;
  align-items: center;
  margin:20px 0 0 0;
}
.bookingPage .bookInputBlock > p{
  max-width: 50%;
  width: 220px;
}
.bookingPage .bookInputBlockNoStyle{
  display: flex;
  align-items: center;
  margin:20px 0 0 0;
}

.bookingPage .bookInputBlockNoStyle > p{
   max-width: 50%;
   width: 220px; 
}
.bookingPage .bookInputBlockNoStyle > div{
   max-width: 50%;
   width: calc(100% - 220px);
   margin-bottom: -10px;
}
.bookingPage .bookInputBlockNoStyle .StyleCheckbox{
  float: left;
  margin: 0 10px 10px 0px;
}
.bookingPage .bookInputBlockNoStyle .StyleCheckbox.locked{
  opacity: 0.5;
  pointer-events: none;
}
.bookingPage .bookInputBlock .inputGroup{
  margin-bottom:0;
  max-width: 50%;
  width: 300px;
}
.bookingPage .bookInputBlock .inputGroup.select{
  width: 200px;
}
.bookingPage .passengerDetail{}
.bookingPage .passengerDetail ul{
  margin-top: 10px;
}
.bookingPage .passengerDetail ul li:first-child{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 15px 0; 
  cursor: pointer;
}
.bookingPage .passengerDetail ul li:first-child h3{
  font-size: 1rem;
}
.bookingPage .passengerDetail ul li:first-child i{
  transform: rotate(90deg);
}
.bookingPage .passengerDetail ul li:last-child{}
.bookingPage .FlightDetail .flight li:not(:last-child){
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.bookingPage .FlightDetail .passengers{
  padding: 20px 0 10px;
  border-bottom: 1px solid #eee;
}
.bookingPage .FlightDetail .passengers .StyleCheckbox{
  float: left;
  margin:10px 20px 10px 0;
}
.bookingPage .FlightDetail .passengers .StyleCheckbox.locked{
  pointer-events: none;
  opacity: 0.7;
}
.bookingPage .addBlock{
  margin-top:20px; 
}
.bookingPage .addBlock .add{
  padding: 5px 0;
  color: #31beb2;
  cursor: pointer;
}
.bookingPage .addBlock .add i{
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px; 
}
.bookingPage .bookInputBlock label{
    font-size: 0.8rem;
    background-color: #777777;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}
.bookingPage .bookInputBlock label.selected{
    background-color: #31beb2;
}
.bookingPage .bookInputBlock label:not(.selected).fulled{
    background-color: #bcbcbc;
}
.bookingPage .bookInputBlock.ChooseRoom label{
  margin-bottom:5px;
}
.bookingPage .bookInputBlock.ChooseRoom > div{
  margin-bottom:-5px;
}
.bookingPage .bookInputBlock.ChooseRoom i{
  height: 21px;
    width: 21px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid;
    color: #31beb2;
    margin: 1px;
    cursor: pointer;
}
.bookingSuccess{
  background-color: #f5f4f5;
  display: flex;
}
.bookingSuccess .card{
  background-color: #fff;
  margin: 40px 0 ;
  padding: 40px;
}
.bookingSuccess .alertBlock{
  text-align: center;
}
.bookingSuccess .alertBlock .title{
  margin: 0 0 70px;
}
.bookingSuccess .alertBlock .title h3{
  color: #666666;
  margin: 0 0 10px;
}
.bookingSuccess .alertBlock .title h3 b{
  color: #5bc7bd;
}
.bookingSuccess .alertBlock .title p{}
.bookingSuccess .alertBlock img{
  max-width: 400px;
}
.bookingSuccess .alertBlock .btnBlock{
  margin: 40px 0 0;
}
.bookingSuccess .alertBlock .btnBlock .btn{
  border-radius:0;
}
.bookingSuccess .customerBlock{
  margin-top: 40px;
}
.bookingSuccess .customerBlock article{
  background-color: #fcfbfc;
  padding: 40px 80px;
}
.bookingSuccess .customerBlock h3{
  margin-bottom: 10px;
}
.bookingSuccess .customerBlock h3.title{
  color: #5bc7bd;
}
.bookingSuccess .customerBlock h3.title i{
  display: inline-block;
  font-size: 1.6rem;
  vertical-align: middle;
  margin: 0 10px 0 -35px;
}
.bookingSuccess .customerBlock ul.detail{
  margin-bottom: 20px;
}
.bookingSuccess .customerBlock ul.detail li{
  display: flex;
  margin-bottom: 10px;
  font-size: 13px;
}
.bookingSuccess .customerBlock ul.detail b{
  display: block;
  width: 50%;
}
.bookingSuccess .customerBlock ul.detail span{
  display: block;
  width: 50%; 
}
.bookingSuccess .swiper-container .swiper-button-next,
.bookingSuccess .swiper-container .swiper-button-prev{
  background: transparent;
  display: flex;
  align-items: center;
  font-size: 2rem
}
.bookingSuccess .totalBlock{
  display: flex;
  justify-content: flex-end;

}
.bookingSuccess .totalBlock ul {
  width: 100%;
  max-width:400px;
  padding: 20px; 
}
.bookingSuccess .totalBlock ul li{
  display: flex;
  margin: 0 0 15px 0;
}
.bookingSuccess .totalBlock ul p{
  width: 50%
}
.bookingSuccess .totalBlock ul span{
  width: 50%
}
.bookingSuccess .totalBlock ul b{
  color: #31beb2;
}